## Please input your directory for the top level folder
folder name : SUBMISSION MODEL

In [1]:
dir_ = 'C:/Users/jekim/OneDrive/바탕 화면/m5-forecasting-accuracy/' # input only here

#### setting other directory

In [2]:
raw_data_dir = dir_+'2. data/'
processed_data_dir = dir_+'2. data/processed/'
log_dir = dir_+'4. logs/'
model_dir = dir_+'5. models/'

In [3]:
####################################################################################
########################### 1-1. recursive model by store ##########################
####################################################################################

In [4]:
ver, KKK = 'priv', 0
CLUSTERS_IDS = [0,1,2,3,4,5,6,7,8,9]

In [5]:
import numpy as np
import pandas as pd
import os, sys, gc, time, warnings, pickle, psutil, random

from multiprocessing import Pool

warnings.filterwarnings('ignore')

In [6]:
########################### Helpers
#################################################################################
## Seeder
def seed_everything(seed=0):
    random.seed(seed)
    np.random.seed(seed)

    
## Multiprocess Runs
def df_parallelize_run(func, t_split):
    num_cores = np.min([N_CORES,len(t_split)])
    pool = Pool(num_cores)
    df = pd.concat(pool.map(func, t_split), axis=1)
    pool.close()
    pool.join()
    return df

In [7]:
########################### Helper to load data by store ID
#################################################################################
# Read data
def get_data_by_cluster(cluster):
    
    # Read and contact basic feature
    df = pd.concat([pd.read_pickle(BASE),
                    pd.read_pickle(PRICE).iloc[:,2:],
                    pd.read_pickle(CALENDAR).iloc[:,2:]],
                    axis=1)
    
    df = df[df['d']>=START_TRAIN]
    
    df = df[df['tskm_10']==cluster]

    df2 = pd.read_pickle(MEAN_ENC)[mean_features]
    df2 = df2[df2.index.isin(df.index)]
    
    df3 = pd.read_pickle(LAGS).iloc[:,3:]
    df3 = df3[df3.index.isin(df.index)]
    
    df = pd.concat([df, df2], axis=1)
    del df2
    
    df = pd.concat([df, df3], axis=1)
    del df3

    features = [col for col in list(df) if col not in remove_features]
    df = df[['id','d',TARGET]+features]
    
    df = df.reset_index(drop=True)
    
    return df, features

# Recombine Test set after training
def get_base_test():
    base_test = pd.DataFrame()

    for cluster_id in CLUSTERS_IDS:
        temp_df = pd.read_pickle(processed_data_dir+'test_cluster10_'+cluster_id+'.pkl')
        temp_df['cluster_id'] = store_id
        base_test = pd.concat([base_test, temp_df]).reset_index(drop=True)
    
    return base_test


########################### Helper to make dynamic rolling lags
#################################################################################
def make_lag(LAG_DAY):
    lag_df = base_test[['id','d',TARGET]]
    col_name = 'sales_lag_'+str(LAG_DAY)
    lag_df[col_name] = lag_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(LAG_DAY)).astype(np.float16)
    return lag_df[[col_name]]


def make_lag_roll(LAG_DAY):
    shift_day = LAG_DAY[0]
    roll_wind = LAG_DAY[1]
    lag_df = base_test[['id','d',TARGET]]
    col_name = 'rolling_mean_tmp_'+str(shift_day)+'_'+str(roll_wind)
    lag_df[col_name] = lag_df.groupby(['id'])[TARGET].transform(lambda x: x.shift(shift_day).rolling(roll_wind).mean())
    return lag_df[[col_name]]

In [8]:
########################### Model params
#################################################################################
import lightgbm as lgb
lgb_params = {
                    'boosting_type': 'gbdt',
                    'objective': 'tweedie',
                    'tweedie_variance_power': 1.1,
                    'metric': 'rmse',
                    'subsample': 0.5,
                    'subsample_freq': 1,
                    'learning_rate': 0.015,
                    'num_leaves': 2**11-1,
                    'min_data_in_leaf': 2**12-1,
                    'feature_fraction': 0.5,
                    'max_bin': 100,
                    'n_estimators': 3000,
                    'boost_from_average': False,
                    'verbose': -1,
                }

In [9]:
########################### Vars
#################################################################################
VER = 1                          
SEED = 42                        
seed_everything(SEED)            
lgb_params['seed'] = SEED        
N_CORES = psutil.cpu_count()     


#LIMITS and const
TARGET      = 'sales'            
START_TRAIN = 0                  
END_TRAIN   = 1941 - 28*KKK      
P_HORIZON   = 28                 
USE_AUX     = False             

remove_features = ['id', 'dept_id', 'cat_id', 'store_id', 'state_id',
                   'date','wm_yr_wk','d',TARGET]
mean_features   = ['enc_item_id_store_id_mean','enc_item_id_store_id_std'] 

ORIGINAL = raw_data_dir
BASE     = processed_data_dir+'grid_part_1.pkl'
PRICE    = processed_data_dir+'grid_part_2.pkl'
CALENDAR = processed_data_dir+'grid_part_3.pkl'
LAGS     = processed_data_dir+'lags_df_28.pkl'
MEAN_ENC = processed_data_dir+'mean_encoding_df.pkl'


#SPLITS for lags creation
SHIFT_DAY  = 28
N_LAGS     = 15
LAGS_SPLIT = [col for col in range(SHIFT_DAY,SHIFT_DAY+N_LAGS)]
ROLS_SPLIT = []
for i in [1,7,14]:
    for j in [7,14,30,60]:
        ROLS_SPLIT.append([i,j])

In [10]:
########################### Train Models
#################################################################################
for cluster_id in CLUSTERS_IDS:
    print('Train cluster_', cluster_id)
    
    grid_df, features_columns = get_data_by_cluster(cluster_id)
    
    train_mask = grid_df['d']<=END_TRAIN
    valid_mask = train_mask&(grid_df['d']>(END_TRAIN-P_HORIZON))
    preds_mask = (grid_df['d']>(END_TRAIN-100)) & (grid_df['d'] <= END_TRAIN+P_HORIZON)
    
    train_data = lgb.Dataset(grid_df[train_mask][features_columns], 
                       label=grid_df[train_mask][TARGET])
    
    valid_data = lgb.Dataset(grid_df[valid_mask][features_columns], 
                       label=grid_df[valid_mask][TARGET])
    
    grid_df = grid_df[preds_mask].reset_index(drop=True)
    keep_cols = [col for col in list(grid_df) if '_tmp_' not in col]
    grid_df = grid_df[keep_cols]
    
    d_sales = grid_df[['d','sales']]
    substitute = d_sales['sales'].values
    substitute[(d_sales['d'] > END_TRAIN)] = np.nan
    grid_df['sales'] = substitute
    
    grid_df.to_pickle(processed_data_dir+'test_cluster10_'+str(cluster_id)+'.pkl')
    del grid_df, d_sales, substitute
    

    seed_everything(SEED)
    estimator = lgb.train(lgb_params,
                          train_data,
                          valid_sets = [valid_data],
                          verbose_eval = 100,
                          )
    
    display(pd.DataFrame({'name':estimator.feature_name(),
                          'imp':estimator.feature_importance()}).sort_values('imp',ascending=False).head(25))

    
    model_name = model_dir+'lgb_model_cluster10_'+str(cluster_id)+'_v'+str(VER)+'.bin'
    pickle.dump(estimator, open(model_name, 'wb'))

    del train_data, valid_data, estimator
    gc.collect()
    
    MODEL_FEATURES = features_columns

Train cluster_ 0
[100]	valid_0's rmse: 0.838565
[200]	valid_0's rmse: 0.811489
[300]	valid_0's rmse: 0.800537
[400]	valid_0's rmse: 0.792201
[500]	valid_0's rmse: 0.786886
[600]	valid_0's rmse: 0.784342
[700]	valid_0's rmse: 0.782296
[800]	valid_0's rmse: 0.780434
[900]	valid_0's rmse: 0.778774
[1000]	valid_0's rmse: 0.777057
[1100]	valid_0's rmse: 0.775415
[1200]	valid_0's rmse: 0.773952
[1300]	valid_0's rmse: 0.772375
[1400]	valid_0's rmse: 0.771146
[1500]	valid_0's rmse: 0.769849
[1600]	valid_0's rmse: 0.768558
[1700]	valid_0's rmse: 0.767227
[1800]	valid_0's rmse: 0.766062
[1900]	valid_0's rmse: 0.7649
[2000]	valid_0's rmse: 0.763452
[2100]	valid_0's rmse: 0.762273
[2200]	valid_0's rmse: 0.761012
[2300]	valid_0's rmse: 0.759845
[2400]	valid_0's rmse: 0.758584
[2500]	valid_0's rmse: 0.757264
[2600]	valid_0's rmse: 0.755921
[2700]	valid_0's rmse: 0.754821
[2800]	valid_0's rmse: 0.753637
[2900]	valid_0's rmse: 0.752424
[3000]	valid_0's rmse: 0.751369

                         name     imp
0                     item_id  435472
53           rolling_mean_180  115011
22                       tm_w  110793
54            rolling_std_180  110734
52             rolling_std_60   91502
21                       tm_d   91079
50             rolling_std_30   75950
10               item_nunique   75880
29   enc_item_id_store_id_std   73469
28  enc_item_id_store_id_mean   73317
51            rolling_mean_60   70606
66     rolling_mean_tmp_14_60   58662
6                   price_std   55688
26                      tm_dw   55394
58      rolling_mean_tmp_1_60   53627
48             rolling_std_14   53400
62      rolling_mean_tmp_7_60   53131
57      rolling_mean_tmp_1_30   50255
5                   price_min   49726
12           price_momentum_m   47459
56      rolling_mean_tmp_1_14   46998
65     rolling_mean_tmp_14_30   45883
55       rolling_mean_tmp_1_7   45564
49            rolling_mean_30   45371
23                       tm_m   44153

Train cluster_ 1
[100]	valid_0's rmse: 2.74435
[200]	valid_0's rmse: 2.41648
[300]	valid_0's rmse: 2.37839
[400]	valid_0's rmse: 2.36192
[500]	valid_0's rmse: 2.35222
[600]	valid_0's rmse: 2.3451
[700]	valid_0's rmse: 2.33873
[800]	valid_0's rmse: 2.3334
[900]	valid_0's rmse: 2.32802
[1000]	valid_0's rmse: 2.32299
[1100]	valid_0's rmse: 2.3183
[1200]	valid_0's rmse: 2.31383
[1300]	valid_0's rmse: 2.30973
[1400]	valid_0's rmse: 2.30582
[1500]	valid_0's rmse: 2.30177
[1600]	valid_0's rmse: 2.29852
[1700]	valid_0's rmse: 2.29469
[1800]	valid_0's rmse: 2.29098
[1900]	valid_0's rmse: 2.28739
[2000]	valid_0's rmse: 2.28285
[2100]	valid_0's rmse: 2.27926
[2200]	valid_0's rmse: 2.27551
[2300]	valid_0's rmse: 2.27224
[2400]	valid_0's rmse: 2.26925
[2500]	valid_0's rmse: 2.26556
[2600]	valid_0's rmse: 2.26185
[2700]	valid_0's rmse: 2.2584
[2800]	valid_0's rmse: 2.25482
[2900]	valid_0's rmse: 2.25168
[3000]	valid_0's rmse: 2.24837

                         name     imp
0                     item_id  264992
22                       tm_w   47923
53           rolling_mean_180   43904
54            rolling_std_180   43586
21                       tm_d   43479
55       rolling_mean_tmp_1_7   42771
52             rolling_std_60   36717
10               item_nunique   34127
50             rolling_std_30   34062
46              rolling_std_7   31432
56      rolling_mean_tmp_1_14   31328
48             rolling_std_14   31054
51            rolling_mean_60   30975
12           price_momentum_m   30724
26                      tm_dw   30171
59       rolling_mean_tmp_7_7   29269
29   enc_item_id_store_id_std   29074
6                   price_std   26612
28  enc_item_id_store_id_mean   25954
60      rolling_mean_tmp_7_14   25309
8                  price_norm   25175
63      rolling_mean_tmp_14_7   24755
57      rolling_mean_tmp_1_30   24708
64     rolling_mean_tmp_14_14   24396
49            rolling_mean_30   23102

Train cluster_ 2
[100]	valid_0's rmse: 1.90251
[200]	valid_0's rmse: 1.81014
[300]	valid_0's rmse: 1.79134
[400]	valid_0's rmse: 1.78091
[500]	valid_0's rmse: 1.77343
[600]	valid_0's rmse: 1.76747
[700]	valid_0's rmse: 1.76303
[800]	valid_0's rmse: 1.75896
[900]	valid_0's rmse: 1.75506
[1000]	valid_0's rmse: 1.75135
[1100]	valid_0's rmse: 1.74783
[1200]	valid_0's rmse: 1.74417
[1300]	valid_0's rmse: 1.74093
[1400]	valid_0's rmse: 1.73805
[1500]	valid_0's rmse: 1.73501
[1600]	valid_0's rmse: 1.73205
[1700]	valid_0's rmse: 1.72914
[1800]	valid_0's rmse: 1.72634
[1900]	valid_0's rmse: 1.72349
[2000]	valid_0's rmse: 1.72031
[2100]	valid_0's rmse: 1.71742
[2200]	valid_0's rmse: 1.71476
[2300]	valid_0's rmse: 1.71214
[2400]	valid_0's rmse: 1.70945
[2500]	valid_0's rmse: 1.70667
[2600]	valid_0's rmse: 1.70396
[2700]	valid_0's rmse: 1.70122
[2800]	valid_0's rmse: 1.69829
[2900]	valid_0's rmse: 1.69563
[3000]	valid_0's rmse: 1.69339

                         name     imp
0                     item_id  217583
22                       tm_w   42302
53           rolling_mean_180   38534
54            rolling_std_180   37189
21                       tm_d   36420
55       rolling_mean_tmp_1_7   32407
52             rolling_std_60   31252
50             rolling_std_30   29299
51            rolling_mean_60   27406
48             rolling_std_14   27261
10               item_nunique   26546
46              rolling_std_7   25828
26                      tm_dw   25547
56      rolling_mean_tmp_1_14   25312
12           price_momentum_m   24980
29   enc_item_id_store_id_std   22996
59       rolling_mean_tmp_7_7   22575
28  enc_item_id_store_id_mean   21811
57      rolling_mean_tmp_1_30   21518
6                   price_std   21293
60      rolling_mean_tmp_7_14   20872
64     rolling_mean_tmp_14_14   20577
66     rolling_mean_tmp_14_60   20443
49            rolling_mean_30   20124
5                   price_min   19862

Train cluster_ 3
[100]	valid_0's rmse: 3.60348
[200]	valid_0's rmse: 3.0556
[300]	valid_0's rmse: 3.0164
[400]	valid_0's rmse: 2.98277
[500]	valid_0's rmse: 2.96534
[600]	valid_0's rmse: 2.95647
[700]	valid_0's rmse: 2.94524
[800]	valid_0's rmse: 2.93736
[900]	valid_0's rmse: 2.93028
[1000]	valid_0's rmse: 2.92648
[1100]	valid_0's rmse: 2.92
[1200]	valid_0's rmse: 2.91446
[1300]	valid_0's rmse: 2.91056
[1400]	valid_0's rmse: 2.90474
[1500]	valid_0's rmse: 2.90262
[1600]	valid_0's rmse: 2.89596
[1700]	valid_0's rmse: 2.89205
[1800]	valid_0's rmse: 2.88928
[1900]	valid_0's rmse: 2.88405
[2000]	valid_0's rmse: 2.88013
[2100]	valid_0's rmse: 2.87651
[2200]	valid_0's rmse: 2.8711
[2300]	valid_0's rmse: 2.86692
[2400]	valid_0's rmse: 2.86048
[2500]	valid_0's rmse: 2.85629
[2600]	valid_0's rmse: 2.8522
[2700]	valid_0's rmse: 2.8499
[2800]	valid_0's rmse: 2.84497
[2900]	valid_0's rmse: 2.83913
[3000]	valid_0's rmse: 2.83795

                         name    imp
0                     item_id  71531
55       rolling_mean_tmp_1_7  14130
22                       tm_w  11397
21                       tm_d  11288
54            rolling_std_180  10866
53           rolling_mean_180  10277
26                      tm_dw   9031
52             rolling_std_60   8736
59       rolling_mean_tmp_7_7   8530
56      rolling_mean_tmp_1_14   8253
50             rolling_std_30   7995
46              rolling_std_7   7965
48             rolling_std_14   7625
29   enc_item_id_store_id_std   7325
51            rolling_mean_60   6666
63      rolling_mean_tmp_14_7   6596
12           price_momentum_m   6569
28  enc_item_id_store_id_mean   6486
8                  price_norm   6410
60      rolling_mean_tmp_7_14   6232
6                   price_std   6021
64     rolling_mean_tmp_14_14   5758
7                  price_mean   5724
10               item_nunique   5676
57      rolling_mean_tmp_1_30   5649

Train cluster_ 4
[100]	valid_0's rmse: 1.66268
[200]	valid_0's rmse: 1.58974
[300]	valid_0's rmse: 1.57926
[400]	valid_0's rmse: 1.57337
[500]	valid_0's rmse: 1.57008
[600]	valid_0's rmse: 1.56739
[700]	valid_0's rmse: 1.56466
[800]	valid_0's rmse: 1.56203
[900]	valid_0's rmse: 1.55959
[1000]	valid_0's rmse: 1.55749
[1100]	valid_0's rmse: 1.55552
[1200]	valid_0's rmse: 1.55337
[1300]	valid_0's rmse: 1.55111
[1400]	valid_0's rmse: 1.54929
[1500]	valid_0's rmse: 1.54728
[1600]	valid_0's rmse: 1.54547
[1700]	valid_0's rmse: 1.5434
[1800]	valid_0's rmse: 1.54154
[1900]	valid_0's rmse: 1.5399
[2000]	valid_0's rmse: 1.53801
[2100]	valid_0's rmse: 1.53611
[2200]	valid_0's rmse: 1.53389
[2300]	valid_0's rmse: 1.53226
[2400]	valid_0's rmse: 1.53052
[2500]	valid_0's rmse: 1.52861
[2600]	valid_0's rmse: 1.52678
[2700]	valid_0's rmse: 1.52506
[2800]	valid_0's rmse: 1.5233
[2900]	valid_0's rmse: 1.52143
[3000]	valid_0's rmse: 1.51977

                         name     imp
0                     item_id  125054
22                       tm_w   23746
53           rolling_mean_180   21540
21                       tm_d   21230
54            rolling_std_180   20089
12           price_momentum_m   19540
55       rolling_mean_tmp_1_7   18284
10               item_nunique   17207
52             rolling_std_60   16323
51            rolling_mean_60   15126
8                  price_norm   15007
50             rolling_std_30   14956
26                      tm_dw   14759
48             rolling_std_14   14432
46              rolling_std_7   14108
56      rolling_mean_tmp_1_14   14036
6                   price_std   13008
28  enc_item_id_store_id_mean   12787
59       rolling_mean_tmp_7_7   12703
29   enc_item_id_store_id_std   12441
57      rolling_mean_tmp_1_30   12065
60      rolling_mean_tmp_7_14   12056
66     rolling_mean_tmp_14_60   11227
64     rolling_mean_tmp_14_14   11223
63      rolling_mean_tmp_14_7   11136

Train cluster_ 5
[100]	valid_0's rmse: 3.18612
[200]	valid_0's rmse: 2.70427
[300]	valid_0's rmse: 2.66033
[400]	valid_0's rmse: 2.6416
[500]	valid_0's rmse: 2.63032
[600]	valid_0's rmse: 2.62037
[700]	valid_0's rmse: 2.61206
[800]	valid_0's rmse: 2.60513
[900]	valid_0's rmse: 2.59802
[1000]	valid_0's rmse: 2.59246
[1100]	valid_0's rmse: 2.58608
[1200]	valid_0's rmse: 2.58061
[1300]	valid_0's rmse: 2.57507
[1400]	valid_0's rmse: 2.56986
[1500]	valid_0's rmse: 2.56533
[1600]	valid_0's rmse: 2.56119
[1700]	valid_0's rmse: 2.55585
[1800]	valid_0's rmse: 2.55197
[1900]	valid_0's rmse: 2.5475
[2000]	valid_0's rmse: 2.54292
[2100]	valid_0's rmse: 2.538
[2200]	valid_0's rmse: 2.53418
[2300]	valid_0's rmse: 2.53029
[2400]	valid_0's rmse: 2.52652
[2500]	valid_0's rmse: 2.52325
[2600]	valid_0's rmse: 2.51881
[2700]	valid_0's rmse: 2.51486
[2800]	valid_0's rmse: 2.51187
[2900]	valid_0's rmse: 2.50811
[3000]	valid_0's rmse: 2.50516

                         name     imp
0                     item_id  203137
22                       tm_w   37410
55       rolling_mean_tmp_1_7   34399
21                       tm_d   34053
53           rolling_mean_180   32840
54            rolling_std_180   32740
52             rolling_std_60   26978
10               item_nunique   25814
50             rolling_std_30   24901
46              rolling_std_7   24357
56      rolling_mean_tmp_1_14   24216
26                      tm_dw   23799
59       rolling_mean_tmp_7_7   23788
48             rolling_std_14   23171
51            rolling_mean_60   22364
29   enc_item_id_store_id_std   22080
28  enc_item_id_store_id_mean   20789
12           price_momentum_m   20005
60      rolling_mean_tmp_7_14   19521
63      rolling_mean_tmp_14_7   19456
6                   price_std   19125
64     rolling_mean_tmp_14_14   19104
57      rolling_mean_tmp_1_30   18699
7                  price_mean   16912
8                  price_norm   16661

Train cluster_ 6
[100]	valid_0's rmse: 3.88732
[200]	valid_0's rmse: 3.55461
[300]	valid_0's rmse: 3.50293
[400]	valid_0's rmse: 3.47464
[500]	valid_0's rmse: 3.45435
[600]	valid_0's rmse: 3.44056
[700]	valid_0's rmse: 3.42748
[800]	valid_0's rmse: 3.41619
[900]	valid_0's rmse: 3.40918
[1000]	valid_0's rmse: 3.4019
[1100]	valid_0's rmse: 3.3949
[1200]	valid_0's rmse: 3.38709
[1300]	valid_0's rmse: 3.38152
[1400]	valid_0's rmse: 3.37627
[1500]	valid_0's rmse: 3.36938
[1600]	valid_0's rmse: 3.36377
[1700]	valid_0's rmse: 3.35688
[1800]	valid_0's rmse: 3.34788
[1900]	valid_0's rmse: 3.34162
[2000]	valid_0's rmse: 3.33677
[2100]	valid_0's rmse: 3.3321
[2200]	valid_0's rmse: 3.32812
[2300]	valid_0's rmse: 3.3237
[2400]	valid_0's rmse: 3.31853
[2500]	valid_0's rmse: 3.31261
[2600]	valid_0's rmse: 3.30844
[2700]	valid_0's rmse: 3.30401
[2800]	valid_0's rmse: 3.29888
[2900]	valid_0's rmse: 3.29496
[3000]	valid_0's rmse: 3.28956

                         name    imp
0                     item_id  64493
55       rolling_mean_tmp_1_7  18829
53           rolling_mean_180  18599
22                       tm_w  18299
21                       tm_d  18239
54            rolling_std_180  17955
29   enc_item_id_store_id_std  15013
52             rolling_std_60  14663
10               item_nunique  14629
56      rolling_mean_tmp_1_14  13883
28  enc_item_id_store_id_mean  13768
50             rolling_std_30  13656
59       rolling_mean_tmp_7_7  13352
46              rolling_std_7  13296
48             rolling_std_14  12755
6                   price_std  12568
26                      tm_dw  12326
51            rolling_mean_60  12323
7                  price_mean  11081
5                   price_min  10730
60      rolling_mean_tmp_7_14  10651
12           price_momentum_m  10617
57      rolling_mean_tmp_1_30  10392
63      rolling_mean_tmp_14_7  10387
2                     release  10304

Train cluster_ 7
[100]	valid_0's rmse: 1.5011
[200]	valid_0's rmse: 1.46177
[300]	valid_0's rmse: 1.45396
[400]	valid_0's rmse: 1.44903
[500]	valid_0's rmse: 1.44531
[600]	valid_0's rmse: 1.44198
[700]	valid_0's rmse: 1.43947
[800]	valid_0's rmse: 1.43678
[900]	valid_0's rmse: 1.43429
[1000]	valid_0's rmse: 1.4319
[1100]	valid_0's rmse: 1.42989
[1200]	valid_0's rmse: 1.42757
[1300]	valid_0's rmse: 1.42538
[1400]	valid_0's rmse: 1.42342
[1500]	valid_0's rmse: 1.42155
[1600]	valid_0's rmse: 1.41965
[1700]	valid_0's rmse: 1.41787
[1800]	valid_0's rmse: 1.41594
[1900]	valid_0's rmse: 1.4142
[2000]	valid_0's rmse: 1.41236
[2100]	valid_0's rmse: 1.41069
[2200]	valid_0's rmse: 1.40906
[2300]	valid_0's rmse: 1.40736
[2400]	valid_0's rmse: 1.40565
[2500]	valid_0's rmse: 1.40373
[2600]	valid_0's rmse: 1.40226
[2700]	valid_0's rmse: 1.40051
[2800]	valid_0's rmse: 1.39882
[2900]	valid_0's rmse: 1.39703
[3000]	valid_0's rmse: 1.39526

                         name     imp
0                     item_id  399663
53           rolling_mean_180   86534
54            rolling_std_180   85446
22                       tm_w   82969
21                       tm_d   74213
52             rolling_std_60   73718
50             rolling_std_30   68063
51            rolling_mean_60   61280
10               item_nunique   58780
48             rolling_std_14   58401
29   enc_item_id_store_id_std   55948
55       rolling_mean_tmp_1_7   53529
28  enc_item_id_store_id_mean   53314
26                      tm_dw   49234
46              rolling_std_7   48957
66     rolling_mean_tmp_14_60   48847
6                   price_std   48494
56      rolling_mean_tmp_1_14   48313
12           price_momentum_m   46305
57      rolling_mean_tmp_1_30   45614
62      rolling_mean_tmp_7_60   44226
5                   price_min   43842
58      rolling_mean_tmp_1_60   43744
60      rolling_mean_tmp_7_14   43110
49            rolling_mean_30   42794

Train cluster_ 8
[100]	valid_0's rmse: 3.90367
[200]	valid_0's rmse: 3.18998
[300]	valid_0's rmse: 3.01903
[400]	valid_0's rmse: 2.95686
[500]	valid_0's rmse: 2.92857
[600]	valid_0's rmse: 2.91902
[700]	valid_0's rmse: 2.9123
[800]	valid_0's rmse: 2.90519
[900]	valid_0's rmse: 2.89699
[1000]	valid_0's rmse: 2.89165
[1100]	valid_0's rmse: 2.88204
[1200]	valid_0's rmse: 2.87741
[1300]	valid_0's rmse: 2.86901
[1400]	valid_0's rmse: 2.86459
[1500]	valid_0's rmse: 2.85771
[1600]	valid_0's rmse: 2.85178
[1700]	valid_0's rmse: 2.84632
[1800]	valid_0's rmse: 2.84117
[1900]	valid_0's rmse: 2.83437
[2000]	valid_0's rmse: 2.82926
[2100]	valid_0's rmse: 2.82616
[2200]	valid_0's rmse: 2.82171
[2300]	valid_0's rmse: 2.81647
[2400]	valid_0's rmse: 2.81271
[2500]	valid_0's rmse: 2.80777
[2600]	valid_0's rmse: 2.80578
[2700]	valid_0's rmse: 2.80244
[2800]	valid_0's rmse: 2.79771
[2900]	valid_0's rmse: 2.78891
[3000]	valid_0's rmse: 2.78612

                         name    imp
0                     item_id  36487
55       rolling_mean_tmp_1_7   5252
21                       tm_d   5160
22                       tm_w   4885
53           rolling_mean_180   4500
54            rolling_std_180   3988
59       rolling_mean_tmp_7_7   3448
56      rolling_mean_tmp_1_14   3406
26                      tm_dw   3345
46              rolling_std_7   3148
12           price_momentum_m   3118
52             rolling_std_60   2965
51            rolling_mean_60   2909
48             rolling_std_14   2833
50             rolling_std_30   2792
57      rolling_mean_tmp_1_30   2696
63      rolling_mean_tmp_14_7   2693
60      rolling_mean_tmp_7_14   2683
64     rolling_mean_tmp_14_14   2582
10               item_nunique   2424
29   enc_item_id_store_id_std   2361
8                  price_norm   2338
14               event_name_1   2319
66     rolling_mean_tmp_14_60   2166
28  enc_item_id_store_id_mean   2131

Train cluster_ 9
[100]	valid_0's rmse: 2.03402
[200]	valid_0's rmse: 1.89748
[300]	valid_0's rmse: 1.87732
[400]	valid_0's rmse: 1.86719
[500]	valid_0's rmse: 1.8589
[600]	valid_0's rmse: 1.85308
[700]	valid_0's rmse: 1.84802
[800]	valid_0's rmse: 1.84293
[900]	valid_0's rmse: 1.83865
[1000]	valid_0's rmse: 1.83455
[1100]	valid_0's rmse: 1.83048
[1200]	valid_0's rmse: 1.82655
[1300]	valid_0's rmse: 1.82249
[1400]	valid_0's rmse: 1.81908
[1500]	valid_0's rmse: 1.81607
[1600]	valid_0's rmse: 1.81284
[1700]	valid_0's rmse: 1.80949
[1800]	valid_0's rmse: 1.80646
[1900]	valid_0's rmse: 1.80371
[2000]	valid_0's rmse: 1.80093
[2100]	valid_0's rmse: 1.79812
[2200]	valid_0's rmse: 1.79547
[2300]	valid_0's rmse: 1.79294
[2400]	valid_0's rmse: 1.79018
[2500]	valid_0's rmse: 1.78736
[2600]	valid_0's rmse: 1.78456
[2700]	valid_0's rmse: 1.78235
[2800]	valid_0's rmse: 1.77957
[2900]	valid_0's rmse: 1.77709
[3000]	valid_0's rmse: 1.7747

                         name     imp
0                     item_id  447093
22                       tm_w   90840
53           rolling_mean_180   84264
54            rolling_std_180   82617
21                       tm_d   77747
55       rolling_mean_tmp_1_7   70145
52             rolling_std_60   68349
50             rolling_std_30   64941
10               item_nunique   64237
48             rolling_std_14   60384
51            rolling_mean_60   58604
46              rolling_std_7   58259
56      rolling_mean_tmp_1_14   57048
29   enc_item_id_store_id_std   54732
26                      tm_dw   52056
59       rolling_mean_tmp_7_7   51640
28  enc_item_id_store_id_mean   51334
6                   price_std   49753
12           price_momentum_m   49313
60      rolling_mean_tmp_7_14   46795
57      rolling_mean_tmp_1_30   46225
64     rolling_mean_tmp_14_14   45986
49            rolling_mean_30   45095
63      rolling_mean_tmp_14_7   44940
66     rolling_mean_tmp_14_60   43794