## Please input your directory for the top level folder
folder name : SUBMISSION MODEL

In [1]:
dir_ = 'C:/Users/jekim/OneDrive/바탕 화면/m5-forecasting-accuracy/' # input only here

#### setting other directory

In [2]:
raw_data_dir = dir_+'2. data/'
processed_data_dir = dir_+'2. data/processed/'
log_dir = dir_+'4. logs/'
model_dir = dir_+'5. models/'

In [3]:
####################################################################################
###################### 2-1. nonrecursive model by store ############################
####################################################################################

In [4]:
cvs = ['private']
STORES = ['CA_1', 'CA_2', 'CA_3', 'CA_4', 'TX_1', 'TX_2', 'TX_3', 'WI_1', 'WI_2', 'WI_3']
CLUSTERS = [0,1,2,3,4,5,6,7,8,9,10,11,12,13]

In [5]:
from  datetime import datetime, timedelta
import gc
import numpy as np, pandas as pd
import lightgbm as lgb

import os, sys, gc, time, warnings, pickle, psutil, random

warnings.filterwarnings('ignore')

In [6]:
def reduce_mem_usage(df, verbose=False):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                       df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [7]:
FIRST_DAY = 710
remove_feature = ['id',
                  'state_id',
                  'store_id',
                   'item_id',
                   'dept_id',
                   'cat_id',
                  'date','wm_yr_wk','d','sales']

cat_var = ['item_id', 'dept_id','store_id', 'cat_id', 'state_id'] + ["event_name_1", "event_name_2", "event_type_1", "event_type_2"]
cat_var = list(set(cat_var) - set(remove_feature))

In [8]:
grid2_colnm = ['sell_price', 'price_max', 'price_min', 'price_std',
               'price_mean', 'price_norm', 'price_nunique', 'item_nunique',
               'price_momentum', 'price_momentum_m', 'price_momentum_y']

grid3_colnm = ['event_name_1', 'event_type_1', 'event_name_2',
               'event_type_2', 'snap_CA', 'snap_TX', 'snap_WI', 'tm_d', 'tm_w', 'tm_m',
               'tm_y', 'tm_wm', 'tm_dw', 'tm_w_end']

lag_colnm = [ 'sales_lag_28', 'sales_lag_29', 'sales_lag_30',
             'sales_lag_31', 'sales_lag_32', 'sales_lag_33', 'sales_lag_34',
             'sales_lag_35', 'sales_lag_36', 'sales_lag_37', 'sales_lag_38',
             'sales_lag_39', 'sales_lag_40', 'sales_lag_41', 'sales_lag_42',
             
             'rolling_mean_7', 'rolling_std_7', 'rolling_mean_14', 'rolling_std_14',
             'rolling_mean_30', 'rolling_std_30', 'rolling_mean_60',
             'rolling_std_60', 'rolling_mean_180', 'rolling_std_180']

mean_enc_colnm = [
    
#    'enc_store_id_dept_id_mean', 'enc_store_id_dept_id_std', 
#    'enc_item_id_state_id_mean', 'enc_item_id_state_id_std',
    'enc_item_id_mean', 'enc_item_id_std'


]

In [9]:
########################### Make grid
#################################################################################
def prepare_data(cluster):
    
    grid_1 = pd.read_pickle(processed_data_dir+"grid_part_1.pkl")
    grid_2 = pd.read_pickle(processed_data_dir+"grid_part_2.pkl")[grid2_colnm]
    grid_3 = pd.read_pickle(processed_data_dir+"grid_part_3.pkl")[grid3_colnm]

    grid_df = pd.concat([grid_1, grid_2, grid_3], axis=1)
    del grid_1, grid_2, grid_3; gc.collect()
    
    grid_df = grid_df[grid_df['tskm_10'] == cluster]
    grid_df = grid_df[grid_df['d'] >= FIRST_DAY]
    
    lag = pd.read_pickle(processed_data_dir+"lags_df_28.pkl")[lag_colnm]
    
    lag = lag[lag.index.isin(grid_df.index)]
    
    grid_df = pd.concat([grid_df,
                     lag],
                    axis=1)
    
    del lag; gc.collect()
    

    mean_enc = pd.read_pickle(processed_data_dir+"mean_encoding_df.pkl")[mean_enc_colnm]
    mean_enc = mean_enc[mean_enc.index.isin(grid_df.index)]
    
    grid_df = pd.concat([grid_df,
                         mean_enc],
                        axis=1)    
    del mean_enc; gc.collect()
    
    grid_df = reduce_mem_usage(grid_df)
    
    
    
    return grid_df

In [10]:
validation = {
    'cv1' : [1551, 1610],
    'cv2' : [1829,1857],
    'cv3' : [1857, 1885],
    'cv4' : [1885,1913],
    'public' : [1913, 1941],
    'private' : [1941, 1969]
}

### cv1 : 2015-04-28 ~ 2015-06-26

### cv2 : 2016-02-01 ~ 2016-02-28

### cv3 : 2016-02-29 ~ 2016-03-27

### cv4 : 2016-03-28 ~ 2016-04-24

In [11]:
########################### Model params
#################################################################################
lgb_params = {
                    'boosting_type': 'gbdt',
                    'objective': 'tweedie',
                    'tweedie_variance_power': 1.1,
                    'metric': 'rmse',
                    'subsample': 0.5,
                    'subsample_freq': 1,
                    'learning_rate': 0.015,
                    'num_leaves': 2**8-1,
                    'min_data_in_leaf': 2**8-1,
                    'feature_fraction': 0.5,
                    'max_bin': 100,
                    'n_estimators': 3000,
                    'boost_from_average': False,
                    'verbose': -1,
                    'seed' : 1995
                }

In [12]:
########################### Train Models
#################################################################################

rmsse_bycv = dict()

for cv in cvs:
    print('cv : day', validation[cv])

    pred_list = []
    for cluster in CLUSTERS:

        print('cluster', str(cluster), 'start')
        grid_df = prepare_data(cluster)

        model_var = grid_df.columns[~grid_df.columns.isin(remove_feature)]

        tr_mask = (grid_df['d'] <= validation[cv][0]) & (grid_df['d'] >= FIRST_DAY)
        vl_mask = (grid_df['d'] > validation[cv][0]) & (grid_df['d'] <= validation[cv][1])

        train_data = lgb.Dataset(grid_df[tr_mask][model_var], 
                       label=grid_df[tr_mask]['sales'])

        valid_data = lgb.Dataset(grid_df[vl_mask][model_var], 
                           label=grid_df[vl_mask]['sales'])

        m_lgb = lgb.train(lgb_params, train_data, valid_sets = [valid_data, train_data], verbose_eval=100) 
        display(pd.DataFrame({'name':m_lgb.feature_name(),
                              'imp':m_lgb.feature_importance()}).sort_values('imp',ascending=False).head(25))
        
        model_name = model_dir+'non_recur_model_item_cluster14_'+str(cluster)+'.bin'
        pickle.dump(m_lgb, open(model_name, 'wb'))
        
        del grid_df, train_data, valid_data, m_lgb, tr_mask, vl_mask; gc.collect

cv : day [1941, 1969]
cluster 0 start
[100]	training's rmse: 1.09115	valid_0's rmse: 0.940002
[200]	training's rmse: 1.07645	valid_0's rmse: 0.972753
[300]	training's rmse: 1.07011	valid_0's rmse: 0.991725
[400]	training's rmse: 1.064	valid_0's rmse: 1.00117
[500]	training's rmse: 1.0586	valid_0's rmse: 1.007
[600]	training's rmse: 1.05411	valid_0's rmse: 1.0112
[700]	training's rmse: 1.04995	valid_0's rmse: 1.01346
[800]	training's rmse: 1.04602	valid_0's rmse: 1.01352
[900]	training's rmse: 1.04268	valid_0's rmse: 1.01469
[1000]	training's rmse: 1.03942	valid_0's rmse: 1.01435
[1100]	training's rmse: 1.03644	valid_0's rmse: 1.0147
[1200]	training's rmse: 1.03357	valid_0's rmse: 1.01495
[1300]	training's rmse: 1.03081	valid_0's rmse: 1.01483
[1400]	training's rmse: 1.02824	valid_0's rmse: 1.01503
[1500]	training's rmse: 1.02579	valid_0's rmse: 1.01525
[1600]	training's rmse: 1.02342	valid_0's rmse: 1.01472
[1700]	training's rmse: 1.02104	valid_0's rmse: 1.01407
[1800]	training's rmse: 1.01872	valid_0's rmse: 1.0141
[1900]	training's rmse: 1.01653	valid_0's rmse: 1.01399
[2000]	training's rmse: 1.01419	valid_0's rmse: 1.01404
[2100]	training's rmse: 1.01198	valid_0's rmse: 1.01402
[2200]	training's rmse: 1.00977	valid_0's rmse: 1.0137
[2300]	training's rmse: 1.00769	valid_0's rmse: 1.01307
[2400]	training's rmse: 1.00568	valid_0's rmse: 1.01279
[2500]	training's rmse: 1.00365	valid_0's rmse: 1.0122
[2600]	training's rmse: 1.00166	valid_0's rmse: 1.01204
[2700]	training's rmse: 0.999717	valid_0's rmse: 1.0118
[2800]	training's rmse: 0.997716	valid_0's rmse: 1.01163
[2900]	training's rmse: 0.995901	valid_0's rmse: 1.01115
[3000]	training's rmse: 0.993993	valid_0's rmse: 1.01122

                name    imp
21              tm_w  36474
9       item_nunique  35672
50  rolling_mean_180  35236
1            release  34389
51   rolling_std_180  33302
48   rolling_mean_60  32067
52  enc_item_id_mean  31480
53   enc_item_id_std  31126
49    rolling_std_60  31084
47    rolling_std_30  27213
46   rolling_mean_30  23846
5          price_std  23606
11  price_momentum_m  22686
45    rolling_std_14  22573
20              tm_d  21224
43     rolling_std_7  20876
2         sell_price  20388
4          price_min  20360
6         price_mean  18408
3          price_max  18197
12  price_momentum_y  17644
44   rolling_mean_14  17276
22              tm_m  16516
13      event_name_1  15901
7         price_norm  13746

cluster 1 start
[100]	training's rmse: 10.0074	valid_0's rmse: 9.89208
[200]	training's rmse: 8.34335	valid_0's rmse: 12.8184
[300]	training's rmse: 7.8304	valid_0's rmse: 13.5698
[400]	training's rmse: 7.52932	valid_0's rmse: 13.7698
[500]	training's rmse: 7.30328	valid_0's rmse: 13.8943
[600]	training's rmse: 7.11058	valid_0's rmse: 13.9687
[700]	training's rmse: 6.9477	valid_0's rmse: 13.9798
[800]	training's rmse: 6.79564	valid_0's rmse: 13.993
[900]	training's rmse: 6.66366	valid_0's rmse: 13.9841
[1000]	training's rmse: 6.53999	valid_0's rmse: 13.9787
[1100]	training's rmse: 6.42444	valid_0's rmse: 13.9425
[1200]	training's rmse: 6.3162	valid_0's rmse: 13.9376
[1300]	training's rmse: 6.21282	valid_0's rmse: 13.9991
[1400]	training's rmse: 6.11854	valid_0's rmse: 14.0232
[1500]	training's rmse: 6.02674	valid_0's rmse: 14.0266
[1600]	training's rmse: 5.93953	valid_0's rmse: 14.0245
[1700]	training's rmse: 5.85546	valid_0's rmse: 14.0049
[1800]	training's rmse: 5.77611	valid_0's rmse: 13.9808
[1900]	training's rmse: 5.69941	valid_0's rmse: 13.9752
[2000]	training's rmse: 5.62563	valid_0's rmse: 13.9745
[2100]	training's rmse: 5.55287	valid_0's rmse: 13.9762
[2200]	training's rmse: 5.48191	valid_0's rmse: 13.9819
[2300]	training's rmse: 5.41596	valid_0's rmse: 13.9904
[2400]	training's rmse: 5.35018	valid_0's rmse: 14.0003
[2500]	training's rmse: 5.28634	valid_0's rmse: 13.9806
[2600]	training's rmse: 5.22374	valid_0's rmse: 13.9742
[2700]	training's rmse: 5.16275	valid_0's rmse: 13.94
[2800]	training's rmse: 5.10449	valid_0's rmse: 13.9079
[2900]	training's rmse: 5.04783	valid_0's rmse: 13.9011
[3000]	training's rmse: 4.99249	valid_0's rmse: 13.8896

                name    imp
21              tm_w  22355
51   rolling_std_180  21697
50  rolling_mean_180  21529
49    rolling_std_60  19944
48   rolling_mean_60  17460
9       item_nunique  16899
47    rolling_std_30  16681
20              tm_d  14494
43     rolling_std_7  14196
45    rolling_std_14  13949
46   rolling_mean_30  13254
5          price_std  10739
27      sales_lag_28   9948
42    rolling_mean_7   9916
44   rolling_mean_14   9540
41      sales_lag_42   9513
22              tm_m   9229
34      sales_lag_35   8940
28      sales_lag_29   8667
39      sales_lag_40   8630
35      sales_lag_36   8613
30      sales_lag_31   8491
40      sales_lag_41   8478
38      sales_lag_39   8371
11  price_momentum_m   8338

cluster 2 start
[100]	training's rmse: 12.2924	valid_0's rmse: 20.7579
[200]	training's rmse: 8.73868	valid_0's rmse: 27.9672
[300]	training's rmse: 8.24689	valid_0's rmse: 29.8491
[400]	training's rmse: 8.04664	valid_0's rmse: 30.3526
[500]	training's rmse: 7.88777	valid_0's rmse: 30.4788
[600]	training's rmse: 7.74783	valid_0's rmse: 30.663
[700]	training's rmse: 7.61718	valid_0's rmse: 30.7163
[800]	training's rmse: 7.51004	valid_0's rmse: 30.7756
[900]	training's rmse: 7.40751	valid_0's rmse: 30.7995
[1000]	training's rmse: 7.30721	valid_0's rmse: 30.8587
[1100]	training's rmse: 7.2175	valid_0's rmse: 30.9016
[1200]	training's rmse: 7.13201	valid_0's rmse: 30.9433
[1300]	training's rmse: 7.0488	valid_0's rmse: 30.9365
[1400]	training's rmse: 6.96952	valid_0's rmse: 30.9368
[1500]	training's rmse: 6.89322	valid_0's rmse: 30.9615
[1600]	training's rmse: 6.81999	valid_0's rmse: 30.9749
[1700]	training's rmse: 6.74725	valid_0's rmse: 30.983
[1800]	training's rmse: 6.67742	valid_0's rmse: 31.0184
[1900]	training's rmse: 6.6108	valid_0's rmse: 31.0017
[2000]	training's rmse: 6.54545	valid_0's rmse: 31.0107
[2100]	training's rmse: 6.48135	valid_0's rmse: 30.9862
[2200]	training's rmse: 6.41916	valid_0's rmse: 31.0194
[2300]	training's rmse: 6.35909	valid_0's rmse: 30.9956
[2400]	training's rmse: 6.3001	valid_0's rmse: 30.9841
[2500]	training's rmse: 6.23991	valid_0's rmse: 30.98
[2600]	training's rmse: 6.1831	valid_0's rmse: 31.0029
[2700]	training's rmse: 6.12933	valid_0's rmse: 30.9937
[2800]	training's rmse: 6.0753	valid_0's rmse: 30.9821
[2900]	training's rmse: 6.02234	valid_0's rmse: 30.9918
[3000]	training's rmse: 5.97209	valid_0's rmse: 31.0327

                name   imp
21              tm_w  7292
50  rolling_mean_180  6805
51   rolling_std_180  6648
49    rolling_std_60  5997
43     rolling_std_7  5988
20              tm_d  5963
11  price_momentum_m  5899
45    rolling_std_14  5740
47    rolling_std_30  5408
28      sales_lag_29  4905
27      sales_lag_28  4832
33      sales_lag_34  4784
41      sales_lag_42  4778
35      sales_lag_36  4773
37      sales_lag_38  4766
39      sales_lag_40  4749
38      sales_lag_39  4721
48   rolling_mean_60  4693
29      sales_lag_30  4677
32      sales_lag_33  4627
31      sales_lag_32  4611
40      sales_lag_41  4522
34      sales_lag_35  4511
30      sales_lag_31  4462
36      sales_lag_37  4404

cluster 3 start
[100]	training's rmse: 12.8297	valid_0's rmse: 13.2577
[200]	training's rmse: 10.8486	valid_0's rmse: 17.4581
[300]	training's rmse: 10.2533	valid_0's rmse: 18.4266
[400]	training's rmse: 9.86632	valid_0's rmse: 18.6525
[500]	training's rmse: 9.59193	valid_0's rmse: 18.6696
[600]	training's rmse: 9.35632	valid_0's rmse: 18.6487
[700]	training's rmse: 9.15094	valid_0's rmse: 18.6507
[800]	training's rmse: 8.95966	valid_0's rmse: 18.6693
[900]	training's rmse: 8.79361	valid_0's rmse: 18.6587
[1000]	training's rmse: 8.63386	valid_0's rmse: 18.6666
[1100]	training's rmse: 8.48643	valid_0's rmse: 18.6233
[1200]	training's rmse: 8.34681	valid_0's rmse: 18.5909
[1300]	training's rmse: 8.20729	valid_0's rmse: 18.5779
[1400]	training's rmse: 8.07412	valid_0's rmse: 18.5849
[1500]	training's rmse: 7.94945	valid_0's rmse: 18.5437
[1600]	training's rmse: 7.82915	valid_0's rmse: 18.5273
[1700]	training's rmse: 7.71596	valid_0's rmse: 18.522
[1800]	training's rmse: 7.60109	valid_0's rmse: 18.5287
[1900]	training's rmse: 7.49325	valid_0's rmse: 18.5364
[2000]	training's rmse: 7.38675	valid_0's rmse: 18.5181
[2100]	training's rmse: 7.28479	valid_0's rmse: 18.5058
[2200]	training's rmse: 7.18523	valid_0's rmse: 18.4854
[2300]	training's rmse: 7.09041	valid_0's rmse: 18.495
[2400]	training's rmse: 6.99549	valid_0's rmse: 18.4998
[2500]	training's rmse: 6.90668	valid_0's rmse: 18.4845
[2600]	training's rmse: 6.82091	valid_0's rmse: 18.4718
[2700]	training's rmse: 6.73282	valid_0's rmse: 18.463
[2800]	training's rmse: 6.64988	valid_0's rmse: 18.4461
[2900]	training's rmse: 6.56695	valid_0's rmse: 18.4548
[3000]	training's rmse: 6.48845	valid_0's rmse: 18.4491

                name    imp
21              tm_w  35341
51   rolling_std_180  33977
49    rolling_std_60  31618
50  rolling_mean_180  29207
47    rolling_std_30  27868
11  price_momentum_m  25653
48   rolling_mean_60  24872
20              tm_d  24434
9       item_nunique  24223
43     rolling_std_7  24185
45    rolling_std_14  24087
5          price_std  22487
46   rolling_mean_30  19043
6         price_mean  18027
27      sales_lag_28  16787
41      sales_lag_42  15785
35      sales_lag_36  15367
28      sales_lag_29  15257
39      sales_lag_40  15213
42    rolling_mean_7  15205
33      sales_lag_34  15117
38      sales_lag_39  15016
34      sales_lag_35  15009
31      sales_lag_32  14951
40      sales_lag_41  14750

cluster 4 start
[100]	training's rmse: 2.15359	valid_0's rmse: 1.99319
[200]	training's rmse: 2.10137	valid_0's rmse: 2.34258
[300]	training's rmse: 2.08473	valid_0's rmse: 2.44237
[400]	training's rmse: 2.0707	valid_0's rmse: 2.47872
[500]	training's rmse: 2.05876	valid_0's rmse: 2.49759
[600]	training's rmse: 2.04821	valid_0's rmse: 2.50803
[700]	training's rmse: 2.03963	valid_0's rmse: 2.51356
[800]	training's rmse: 2.03189	valid_0's rmse: 2.51742
[900]	training's rmse: 2.02479	valid_0's rmse: 2.52145
[1000]	training's rmse: 2.01824	valid_0's rmse: 2.52346
[1100]	training's rmse: 2.0123	valid_0's rmse: 2.52262
[1200]	training's rmse: 2.00713	valid_0's rmse: 2.52366
[1300]	training's rmse: 2.00233	valid_0's rmse: 2.52605
[1400]	training's rmse: 1.99727	valid_0's rmse: 2.5267
[1500]	training's rmse: 1.99241	valid_0's rmse: 2.52661
[1600]	training's rmse: 1.98777	valid_0's rmse: 2.52596
[1700]	training's rmse: 1.98355	valid_0's rmse: 2.52508
[1800]	training's rmse: 1.9794	valid_0's rmse: 2.52609
[1900]	training's rmse: 1.97572	valid_0's rmse: 2.52649
[2000]	training's rmse: 1.97203	valid_0's rmse: 2.52576
[2100]	training's rmse: 1.96816	valid_0's rmse: 2.52388
[2200]	training's rmse: 1.96477	valid_0's rmse: 2.5254
[2300]	training's rmse: 1.96122	valid_0's rmse: 2.52528
[2400]	training's rmse: 1.95773	valid_0's rmse: 2.52559
[2500]	training's rmse: 1.95446	valid_0's rmse: 2.5259
[2600]	training's rmse: 1.95118	valid_0's rmse: 2.52427
[2700]	training's rmse: 1.94802	valid_0's rmse: 2.52302
[2800]	training's rmse: 1.94477	valid_0's rmse: 2.52343
[2900]	training's rmse: 1.94166	valid_0's rmse: 2.52518
[3000]	training's rmse: 1.93873	valid_0's rmse: 2.52561

                name    imp
21              tm_w  42452
9       item_nunique  35695
11  price_momentum_m  33776
52  enc_item_id_mean  33113
53   enc_item_id_std  32858
50  rolling_mean_180  31255
51   rolling_std_180  27955
5          price_std  27955
48   rolling_mean_60  25022
1            release  24618
12  price_momentum_y  23926
49    rolling_std_60  23601
2         sell_price  23414
3          price_max  23081
4          price_min  22595
7         price_norm  21982
6         price_mean  21694
22              tm_m  20178
47    rolling_std_30  19927
46   rolling_mean_30  18810
43     rolling_std_7  17801
45    rolling_std_14  16206
20              tm_d  15928
44   rolling_mean_14  15332
13      event_name_1  14637

cluster 5 start
[100]	training's rmse: 21.0106	valid_0's rmse: 35.0999
[200]	training's rmse: 12.3263	valid_0's rmse: 48.0039
[300]	training's rmse: 11.2894	valid_0's rmse: 51.109
[400]	training's rmse: 10.9788	valid_0's rmse: 51.84
[500]	training's rmse: 10.761	valid_0's rmse: 52.1772
[600]	training's rmse: 10.5652	valid_0's rmse: 52.2415
[700]	training's rmse: 10.3983	valid_0's rmse: 52.3249
[800]	training's rmse: 10.2492	valid_0's rmse: 52.5123
[900]	training's rmse: 10.1196	valid_0's rmse: 52.595
[1000]	training's rmse: 9.99455	valid_0's rmse: 52.634
[1100]	training's rmse: 9.87882	valid_0's rmse: 52.6806
[1200]	training's rmse: 9.76256	valid_0's rmse: 52.7676
[1300]	training's rmse: 9.65972	valid_0's rmse: 52.8476
[1400]	training's rmse: 9.56172	valid_0's rmse: 52.9034
[1500]	training's rmse: 9.46678	valid_0's rmse: 52.9722
[1600]	training's rmse: 9.37917	valid_0's rmse: 52.9866
[1700]	training's rmse: 9.29549	valid_0's rmse: 53.0923
[1800]	training's rmse: 9.2136	valid_0's rmse: 53.2042
[1900]	training's rmse: 9.1402	valid_0's rmse: 53.3309
[2000]	training's rmse: 9.06419	valid_0's rmse: 53.3927
[2100]	training's rmse: 8.9929	valid_0's rmse: 53.4307
[2200]	training's rmse: 8.92276	valid_0's rmse: 53.4504
[2300]	training's rmse: 8.85382	valid_0's rmse: 53.5596
[2400]	training's rmse: 8.78533	valid_0's rmse: 53.5781
[2500]	training's rmse: 8.71697	valid_0's rmse: 53.6314
[2600]	training's rmse: 8.65552	valid_0's rmse: 53.6649
[2700]	training's rmse: 8.59193	valid_0's rmse: 53.7093
[2800]	training's rmse: 8.52666	valid_0's rmse: 53.7743
[2900]	training's rmse: 8.46579	valid_0's rmse: 53.8321
[3000]	training's rmse: 8.40832	valid_0's rmse: 53.8433

                name   imp
21              tm_w  3259
51   rolling_std_180  2519
50  rolling_mean_180  2265
20              tm_d  2154
49    rolling_std_60  1999
45    rolling_std_14  1974
47    rolling_std_30  1936
43     rolling_std_7  1903
11  price_momentum_m  1857
27      sales_lag_28  1793
40      sales_lag_41  1666
29      sales_lag_30  1627
36      sales_lag_37  1616
32      sales_lag_33  1612
33      sales_lag_34  1611
28      sales_lag_29  1596
31      sales_lag_32  1555
39      sales_lag_40  1553
35      sales_lag_36  1546
41      sales_lag_42  1545
38      sales_lag_39  1543
48   rolling_mean_60  1515
34      sales_lag_35  1487
37      sales_lag_38  1470
30      sales_lag_31  1461

cluster 6 start
[100]	training's rmse: 4.41294	valid_0's rmse: 4.07379
[200]	training's rmse: 4.20939	valid_0's rmse: 5.1275
[300]	training's rmse: 4.14213	valid_0's rmse: 5.44864
[400]	training's rmse: 4.09461	valid_0's rmse: 5.55597
[500]	training's rmse: 4.05485	valid_0's rmse: 5.60403
[600]	training's rmse: 4.02224	valid_0's rmse: 5.62262
[700]	training's rmse: 3.99357	valid_0's rmse: 5.62893
[800]	training's rmse: 3.96742	valid_0's rmse: 5.64245
[900]	training's rmse: 3.94429	valid_0's rmse: 5.64555
[1000]	training's rmse: 3.92215	valid_0's rmse: 5.65847
[1100]	training's rmse: 3.89977	valid_0's rmse: 5.66189
[1200]	training's rmse: 3.87856	valid_0's rmse: 5.65935
[1300]	training's rmse: 3.85824	valid_0's rmse: 5.66022
[1400]	training's rmse: 3.83788	valid_0's rmse: 5.66283
[1500]	training's rmse: 3.82014	valid_0's rmse: 5.66194
[1600]	training's rmse: 3.79969	valid_0's rmse: 5.66708
[1700]	training's rmse: 3.78197	valid_0's rmse: 5.66423
[1800]	training's rmse: 3.76449	valid_0's rmse: 5.66639
[1900]	training's rmse: 3.74578	valid_0's rmse: 5.66689
[2000]	training's rmse: 3.7281	valid_0's rmse: 5.66437
[2100]	training's rmse: 3.71115	valid_0's rmse: 5.66476
[2200]	training's rmse: 3.69547	valid_0's rmse: 5.66585
[2300]	training's rmse: 3.68	valid_0's rmse: 5.66503
[2400]	training's rmse: 3.66462	valid_0's rmse: 5.6658
[2500]	training's rmse: 3.65047	valid_0's rmse: 5.66346
[2600]	training's rmse: 3.63538	valid_0's rmse: 5.66304
[2700]	training's rmse: 3.6215	valid_0's rmse: 5.66292
[2800]	training's rmse: 3.60807	valid_0's rmse: 5.66002
[2900]	training's rmse: 3.59481	valid_0's rmse: 5.66167
[3000]	training's rmse: 3.58205	valid_0's rmse: 5.6609

                name    imp
21              tm_w  38966
50  rolling_mean_180  29721
11  price_momentum_m  29585
51   rolling_std_180  28705
52  enc_item_id_mean  26783
53   enc_item_id_std  26352
9       item_nunique  26338
49    rolling_std_60  24869
5          price_std  24253
48   rolling_mean_60  23938
47    rolling_std_30  21131
20              tm_d  19011
43     rolling_std_7  18884
46   rolling_mean_30  18843
6         price_mean  18670
12  price_momentum_y  17843
22              tm_m  17741
45    rolling_std_14  17650
42    rolling_mean_7  17110
2         sell_price  17037
7         price_norm  16446
4          price_min  16245
44   rolling_mean_14  16138
1            release  15915
3          price_max  15012

cluster 7 start
[100]	training's rmse: 43.3431	valid_0's rmse: 32.1348
[200]	training's rmse: 33.487	valid_0's rmse: 42.407
[300]	training's rmse: 31.0057	valid_0's rmse: 42.142
[400]	training's rmse: 29.7988	valid_0's rmse: 40.9984
[500]	training's rmse: 28.9441	valid_0's rmse: 39.8949
[600]	training's rmse: 28.1756	valid_0's rmse: 39.0169
[700]	training's rmse: 27.5577	valid_0's rmse: 38.6796
[800]	training's rmse: 27.0287	valid_0's rmse: 38.0609
[900]	training's rmse: 26.5022	valid_0's rmse: 37.1802
[1000]	training's rmse: 26.0678	valid_0's rmse: 36.7273
[1100]	training's rmse: 25.6574	valid_0's rmse: 36.2701
[1200]	training's rmse: 25.2408	valid_0's rmse: 35.8648
[1300]	training's rmse: 24.8737	valid_0's rmse: 35.4384
[1400]	training's rmse: 24.5315	valid_0's rmse: 35.2658
[1500]	training's rmse: 24.2075	valid_0's rmse: 35.0189
[1600]	training's rmse: 23.8785	valid_0's rmse: 34.7169
[1700]	training's rmse: 23.5886	valid_0's rmse: 34.2659
[1800]	training's rmse: 23.3016	valid_0's rmse: 33.7707
[1900]	training's rmse: 23.0238	valid_0's rmse: 33.4457
[2000]	training's rmse: 22.761	valid_0's rmse: 33.0343
[2100]	training's rmse: 22.5185	valid_0's rmse: 32.8802
[2200]	training's rmse: 22.2688	valid_0's rmse: 32.5874
[2300]	training's rmse: 22.0227	valid_0's rmse: 32.2538
[2400]	training's rmse: 21.7948	valid_0's rmse: 31.9263
[2500]	training's rmse: 21.5644	valid_0's rmse: 31.6211
[2600]	training's rmse: 21.3477	valid_0's rmse: 31.5018
[2700]	training's rmse: 21.1617	valid_0's rmse: 31.0574
[2800]	training's rmse: 20.9401	valid_0's rmse: 30.8212
[2900]	training's rmse: 20.7551	valid_0's rmse: 30.5162
[3000]	training's rmse: 20.5755	valid_0's rmse: 30.4228

                name   imp
21              tm_w  4089
11  price_momentum_m  2719
20              tm_d  2510
51   rolling_std_180  2362
49    rolling_std_60  2327
48   rolling_mean_60  2252
50  rolling_mean_180  2037
47    rolling_std_30  1838
45    rolling_std_14  1742
12  price_momentum_y  1622
43     rolling_std_7  1585
46   rolling_mean_30  1421
22              tm_m  1375
44   rolling_mean_14  1344
41      sales_lag_42  1330
9       item_nunique  1303
40      sales_lag_41  1291
39      sales_lag_40  1267
35      sales_lag_36  1244
27      sales_lag_28  1236
34      sales_lag_35  1225
36      sales_lag_37  1224
23              tm_y  1199
28      sales_lag_29  1179
33      sales_lag_34  1170

cluster 8 start
[100]	training's rmse: 8.61264	valid_0's rmse: 6.95627
[200]	training's rmse: 7.91652	valid_0's rmse: 8.92997
[300]	training's rmse: 7.67313	valid_0's rmse: 9.45732
[400]	training's rmse: 7.50863	valid_0's rmse: 9.60048
[500]	training's rmse: 7.37639	valid_0's rmse: 9.67189
[600]	training's rmse: 7.25645	valid_0's rmse: 9.68541
[700]	training's rmse: 7.14836	valid_0's rmse: 9.6989
[800]	training's rmse: 7.04797	valid_0's rmse: 9.70765
[900]	training's rmse: 6.95098	valid_0's rmse: 9.71982
[1000]	training's rmse: 6.85867	valid_0's rmse: 9.72557
[1100]	training's rmse: 6.76947	valid_0's rmse: 9.71389
[1200]	training's rmse: 6.68346	valid_0's rmse: 9.71164
[1300]	training's rmse: 6.59797	valid_0's rmse: 9.71692
[1400]	training's rmse: 6.5153	valid_0's rmse: 9.72075
[1500]	training's rmse: 6.43405	valid_0's rmse: 9.72027
[1600]	training's rmse: 6.35426	valid_0's rmse: 9.725
[1700]	training's rmse: 6.27752	valid_0's rmse: 9.71769
[1800]	training's rmse: 6.20274	valid_0's rmse: 9.7072
[1900]	training's rmse: 6.128	valid_0's rmse: 9.70398
[2000]	training's rmse: 6.05693	valid_0's rmse: 9.70786
[2100]	training's rmse: 5.98682	valid_0's rmse: 9.70623
[2200]	training's rmse: 5.92082	valid_0's rmse: 9.6988
[2300]	training's rmse: 5.85539	valid_0's rmse: 9.70049
[2400]	training's rmse: 5.79185	valid_0's rmse: 9.68338
[2500]	training's rmse: 5.72998	valid_0's rmse: 9.67364
[2600]	training's rmse: 5.66876	valid_0's rmse: 9.68013
[2700]	training's rmse: 5.60921	valid_0's rmse: 9.67338
[2800]	training's rmse: 5.55153	valid_0's rmse: 9.66782
[2900]	training's rmse: 5.49501	valid_0's rmse: 9.66475
[3000]	training's rmse: 5.44117	valid_0's rmse: 9.65471

                name    imp
21              tm_w  32724
51   rolling_std_180  32309
50  rolling_mean_180  30214
49    rolling_std_60  28980
47    rolling_std_30  26352
48   rolling_mean_60  25002
43     rolling_std_7  23347
45    rolling_std_14  23028
20              tm_d  21660
46   rolling_mean_30  20999
9       item_nunique  20630
11  price_momentum_m  18910
53   enc_item_id_std  18669
5          price_std  18220
42    rolling_mean_7  18020
52  enc_item_id_mean  17411
44   rolling_mean_14  17403
27      sales_lag_28  17149
6         price_mean  16394
41      sales_lag_42  16380
35      sales_lag_36  16256
39      sales_lag_40  16240
34      sales_lag_35  16090
40      sales_lag_41  15911
31      sales_lag_32  15833

cluster 9 start
[100]	training's rmse: 7.53245	valid_0's rmse: 6.90852
[200]	training's rmse: 6.80438	valid_0's rmse: 8.88044
[300]	training's rmse: 6.55021	valid_0's rmse: 9.46264
[400]	training's rmse: 6.38119	valid_0's rmse: 9.66284
[500]	training's rmse: 6.25269	valid_0's rmse: 9.73959
[600]	training's rmse: 6.13992	valid_0's rmse: 9.78486
[700]	training's rmse: 6.04202	valid_0's rmse: 9.79537
[800]	training's rmse: 5.95085	valid_0's rmse: 9.81846
[900]	training's rmse: 5.86579	valid_0's rmse: 9.82934
[1000]	training's rmse: 5.78748	valid_0's rmse: 9.83457
[1100]	training's rmse: 5.7143	valid_0's rmse: 9.82431
[1200]	training's rmse: 5.64329	valid_0's rmse: 9.83393
[1300]	training's rmse: 5.5737	valid_0's rmse: 9.83432
[1400]	training's rmse: 5.50816	valid_0's rmse: 9.84112
[1500]	training's rmse: 5.44429	valid_0's rmse: 9.838
[1600]	training's rmse: 5.38144	valid_0's rmse: 9.82646
[1700]	training's rmse: 5.32314	valid_0's rmse: 9.8223
[1800]	training's rmse: 5.26318	valid_0's rmse: 9.82747
[1900]	training's rmse: 5.20622	valid_0's rmse: 9.81275
[2000]	training's rmse: 5.15244	valid_0's rmse: 9.81688
[2100]	training's rmse: 5.09792	valid_0's rmse: 9.81164
[2200]	training's rmse: 5.04598	valid_0's rmse: 9.80742
[2300]	training's rmse: 4.99671	valid_0's rmse: 9.79874
[2400]	training's rmse: 4.94699	valid_0's rmse: 9.78555
[2500]	training's rmse: 4.89755	valid_0's rmse: 9.77974
[2600]	training's rmse: 4.85129	valid_0's rmse: 9.77804
[2700]	training's rmse: 4.80666	valid_0's rmse: 9.76758
[2800]	training's rmse: 4.76189	valid_0's rmse: 9.77202
[2900]	training's rmse: 4.71729	valid_0's rmse: 9.77376
[3000]	training's rmse: 4.67358	valid_0's rmse: 9.77067

                name    imp
21              tm_w  35069
51   rolling_std_180  33102
50  rolling_mean_180  31553
49    rolling_std_60  29234
47    rolling_std_30  26077
48   rolling_mean_60  25469
11  price_momentum_m  25250
9       item_nunique  24370
20              tm_d  23250
43     rolling_std_7  22891
45    rolling_std_14  22217
5          price_std  20864
46   rolling_mean_30  20864
42    rolling_mean_7  17663
6         price_mean  17267
44   rolling_mean_14  16748
27      sales_lag_28  15777
53   enc_item_id_std  15575
52  enc_item_id_mean  15402
41      sales_lag_42  15359
39      sales_lag_40  14695
35      sales_lag_36  14643
34      sales_lag_35  14625
33      sales_lag_34  14586
22              tm_m  14410

cluster 10 start
[100]	training's rmse: 0.862506	valid_0's rmse: 0.654448
[200]	training's rmse: 0.849659	valid_0's rmse: 0.61783
[300]	training's rmse: 0.846342	valid_0's rmse: 0.624572
[400]	training's rmse: 0.843277	valid_0's rmse: 0.638084
[500]	training's rmse: 0.840421	valid_0's rmse: 0.645719
[600]	training's rmse: 0.83795	valid_0's rmse: 0.652302
[700]	training's rmse: 0.835807	valid_0's rmse: 0.656067
[800]	training's rmse: 0.833739	valid_0's rmse: 0.65925
[900]	training's rmse: 0.831741	valid_0's rmse: 0.662176
[1000]	training's rmse: 0.829975	valid_0's rmse: 0.661881
[1100]	training's rmse: 0.828295	valid_0's rmse: 0.662593
[1200]	training's rmse: 0.826743	valid_0's rmse: 0.66348
[1300]	training's rmse: 0.825159	valid_0's rmse: 0.664383
[1400]	training's rmse: 0.823544	valid_0's rmse: 0.664698
[1500]	training's rmse: 0.82205	valid_0's rmse: 0.665625
[1600]	training's rmse: 0.82064	valid_0's rmse: 0.666432
[1700]	training's rmse: 0.81924	valid_0's rmse: 0.666581
[1800]	training's rmse: 0.817889	valid_0's rmse: 0.666768
[1900]	training's rmse: 0.816488	valid_0's rmse: 0.666656
[2000]	training's rmse: 0.815221	valid_0's rmse: 0.666736
[2100]	training's rmse: 0.814005	valid_0's rmse: 0.667536
[2200]	training's rmse: 0.812855	valid_0's rmse: 0.667166
[2300]	training's rmse: 0.811736	valid_0's rmse: 0.666894
[2400]	training's rmse: 0.810619	valid_0's rmse: 0.666784
[2500]	training's rmse: 0.809547	valid_0's rmse: 0.667232
[2600]	training's rmse: 0.808522	valid_0's rmse: 0.667676
[2700]	training's rmse: 0.807483	valid_0's rmse: 0.668139
[2800]	training's rmse: 0.806505	valid_0's rmse: 0.668139
[2900]	training's rmse: 0.805501	valid_0's rmse: 0.668099
[3000]	training's rmse: 0.804507	valid_0's rmse: 0.668008

                name    imp
21              tm_w  38627
50  rolling_mean_180  35754
9       item_nunique  35584
52  enc_item_id_mean  34001
11  price_momentum_m  33518
53   enc_item_id_std  32576
51   rolling_std_180  32329
48   rolling_mean_60  29532
5          price_std  28077
49    rolling_std_60  27234
1            release  26621
4          price_min  24051
47    rolling_std_30  23277
2         sell_price  23267
12  price_momentum_y  22914
6         price_mean  22084
3          price_max  21624
45    rolling_std_14  20734
46   rolling_mean_30  20516
7         price_norm  19475
20              tm_d  18695
22              tm_m  18371
43     rolling_std_7  17949
13      event_name_1  17241
44   rolling_mean_14  14936

cluster 11 start
[100]	training's rmse: 0.573993	valid_0's rmse: 0.425597
[200]	training's rmse: 0.550954	valid_0's rmse: 0.33555
[300]	training's rmse: 0.548924	valid_0's rmse: 0.324874
[400]	training's rmse: 0.547814	valid_0's rmse: 0.32954
[500]	training's rmse: 0.546708	valid_0's rmse: 0.333235
[600]	training's rmse: 0.545711	valid_0's rmse: 0.336524
[700]	training's rmse: 0.544838	valid_0's rmse: 0.338117
[800]	training's rmse: 0.54402	valid_0's rmse: 0.338984
[900]	training's rmse: 0.543299	valid_0's rmse: 0.339507
[1000]	training's rmse: 0.542601	valid_0's rmse: 0.340016
[1100]	training's rmse: 0.54196	valid_0's rmse: 0.340198
[1200]	training's rmse: 0.541306	valid_0's rmse: 0.340274
[1300]	training's rmse: 0.540704	valid_0's rmse: 0.340395
[1400]	training's rmse: 0.54014	valid_0's rmse: 0.340476
[1500]	training's rmse: 0.53959	valid_0's rmse: 0.340558
[1600]	training's rmse: 0.539063	valid_0's rmse: 0.340544
[1700]	training's rmse: 0.538536	valid_0's rmse: 0.340907
[1800]	training's rmse: 0.538034	valid_0's rmse: 0.34093
[1900]	training's rmse: 0.537531	valid_0's rmse: 0.340849
[2000]	training's rmse: 0.537008	valid_0's rmse: 0.341073
[2100]	training's rmse: 0.536504	valid_0's rmse: 0.341626
[2200]	training's rmse: 0.536034	valid_0's rmse: 0.341459
[2300]	training's rmse: 0.535537	valid_0's rmse: 0.341498
[2400]	training's rmse: 0.535063	valid_0's rmse: 0.341532
[2500]	training's rmse: 0.534553	valid_0's rmse: 0.341476
[2600]	training's rmse: 0.534104	valid_0's rmse: 0.341514
[2700]	training's rmse: 0.533675	valid_0's rmse: 0.341397
[2800]	training's rmse: 0.533211	valid_0's rmse: 0.34133
[2900]	training's rmse: 0.532765	valid_0's rmse: 0.341231
[3000]	training's rmse: 0.532318	valid_0's rmse: 0.341348

                name    imp
50  rolling_mean_180  39278
21              tm_w  37415
9       item_nunique  36435
52  enc_item_id_mean  35502
51   rolling_std_180  34395
1            release  34260
53   enc_item_id_std  34207
48   rolling_mean_60  29978
11  price_momentum_m  29708
49    rolling_std_60  29629
5          price_std  26411
47    rolling_std_30  25566
4          price_min  24304
2         sell_price  23086
3          price_max  21853
20              tm_d  21189
6         price_mean  21053
46   rolling_mean_30  20152
45    rolling_std_14  20062
12  price_momentum_y  19992
13      event_name_1  18518
22              tm_m  17933
7         price_norm  16719
43     rolling_std_7  15997
44   rolling_mean_14  14017

cluster 12 start
[100]	training's rmse: 1.5879	valid_0's rmse: 1.40054
[200]	training's rmse: 1.55669	valid_0's rmse: 1.5505
[300]	training's rmse: 1.54124	valid_0's rmse: 1.59508
[400]	training's rmse: 1.52578	valid_0's rmse: 1.61698
[500]	training's rmse: 1.51344	valid_0's rmse: 1.62501
[600]	training's rmse: 1.50203	valid_0's rmse: 1.63159
[700]	training's rmse: 1.49226	valid_0's rmse: 1.63533
[800]	training's rmse: 1.48338	valid_0's rmse: 1.63846
[900]	training's rmse: 1.47557	valid_0's rmse: 1.63944
[1000]	training's rmse: 1.46813	valid_0's rmse: 1.6397
[1100]	training's rmse: 1.46125	valid_0's rmse: 1.64148
[1200]	training's rmse: 1.45511	valid_0's rmse: 1.64015
[1300]	training's rmse: 1.44922	valid_0's rmse: 1.64113
[1400]	training's rmse: 1.44351	valid_0's rmse: 1.64081
[1500]	training's rmse: 1.43786	valid_0's rmse: 1.64165
[1600]	training's rmse: 1.43269	valid_0's rmse: 1.64167
[1700]	training's rmse: 1.42742	valid_0's rmse: 1.64233
[1800]	training's rmse: 1.42275	valid_0's rmse: 1.64171
[1900]	training's rmse: 1.41809	valid_0's rmse: 1.64012
[2000]	training's rmse: 1.41351	valid_0's rmse: 1.63942
[2100]	training's rmse: 1.409	valid_0's rmse: 1.6393
[2200]	training's rmse: 1.40472	valid_0's rmse: 1.64005
[2300]	training's rmse: 1.40054	valid_0's rmse: 1.63901
[2400]	training's rmse: 1.39642	valid_0's rmse: 1.63977
[2500]	training's rmse: 1.39217	valid_0's rmse: 1.63901
[2600]	training's rmse: 1.3883	valid_0's rmse: 1.63803
[2700]	training's rmse: 1.38431	valid_0's rmse: 1.63805
[2800]	training's rmse: 1.3805	valid_0's rmse: 1.63743
[2900]	training's rmse: 1.37665	valid_0's rmse: 1.63845
[3000]	training's rmse: 1.37307	valid_0's rmse: 1.63813

                name    imp
9       item_nunique  36484
21              tm_w  35918
50  rolling_mean_180  35147
51   rolling_std_180  33575
1            release  32824
48   rolling_mean_60  30205
53   enc_item_id_std  30167
49    rolling_std_60  30155
52  enc_item_id_mean  28609
47    rolling_std_30  26086
46   rolling_mean_30  24263
43     rolling_std_7  23031
45    rolling_std_14  22652
11  price_momentum_m  22494
5          price_std  22230
20              tm_d  21085
4          price_min  18373
44   rolling_mean_14  18165
2         sell_price  17086
6         price_mean  16894
22              tm_m  15999
12  price_momentum_y  15768
42    rolling_mean_7  15152
13      event_name_1  14733
3          price_max  14727

cluster 13 start
[100]	training's rmse: 1.175	valid_0's rmse: 0.921825
[200]	training's rmse: 1.16086	valid_0's rmse: 0.948325
[300]	training's rmse: 1.15245	valid_0's rmse: 0.977269
[400]	training's rmse: 1.14148	valid_0's rmse: 0.998616
[500]	training's rmse: 1.1307	valid_0's rmse: 1.01235
[600]	training's rmse: 1.12143	valid_0's rmse: 1.02154
[700]	training's rmse: 1.11279	valid_0's rmse: 1.02594
[800]	training's rmse: 1.10771	valid_0's rmse: 1.03028
[900]	training's rmse: 1.10336	valid_0's rmse: 1.03213
[1000]	training's rmse: 1.09914	valid_0's rmse: 1.03184
[1100]	training's rmse: 1.095	valid_0's rmse: 1.03315
[1200]	training's rmse: 1.09162	valid_0's rmse: 1.03356
[1300]	training's rmse: 1.08904	valid_0's rmse: 1.03347
[1400]	training's rmse: 1.08611	valid_0's rmse: 1.03375
[1500]	training's rmse: 1.08346	valid_0's rmse: 1.0343
[1600]	training's rmse: 1.08107	valid_0's rmse: 1.03373
[1700]	training's rmse: 1.07872	valid_0's rmse: 1.03404
[1800]	training's rmse: 1.07627	valid_0's rmse: 1.03437
[1900]	training's rmse: 1.0739	valid_0's rmse: 1.03408
[2000]	training's rmse: 1.0717	valid_0's rmse: 1.03483
[2100]	training's rmse: 1.06963	valid_0's rmse: 1.03496
[2200]	training's rmse: 1.06802	valid_0's rmse: 1.03518
[2300]	training's rmse: 1.06639	valid_0's rmse: 1.03456
[2400]	training's rmse: 1.06439	valid_0's rmse: 1.03479
[2500]	training's rmse: 1.06262	valid_0's rmse: 1.03464
[2600]	training's rmse: 1.06086	valid_0's rmse: 1.03433
[2700]	training's rmse: 1.05906	valid_0's rmse: 1.03437
[2800]	training's rmse: 1.05737	valid_0's rmse: 1.03443
[2900]	training's rmse: 1.05575	valid_0's rmse: 1.03505
[3000]	training's rmse: 1.05398	valid_0's rmse: 1.03582

                name    imp
21              tm_w  38497
11  price_momentum_m  36426
50  rolling_mean_180  34342
9       item_nunique  33383
52  enc_item_id_mean  32621
53   enc_item_id_std  32206
51   rolling_std_180  31051
5          price_std  29272
48   rolling_mean_60  27648
49    rolling_std_60  26212
4          price_min  23347
47    rolling_std_30  23014
12  price_momentum_y  22134
6         price_mean  21849
2         sell_price  21106
3          price_max  20952
46   rolling_mean_30  20943
7         price_norm  20762
45    rolling_std_14  20702
43     rolling_std_7  20151
20              tm_d  19378
22              tm_m  18144
1            release  16367
44   rolling_mean_14  16028
13      event_name_1  15668