## Please input your directory for the top level folder
folder name : SUBMISSION MODEL

In [1]:
dir_ = 'C:/Users/jekim/OneDrive/바탕 화면/m5-forecasting-accuracy/' # input only here

#### setting other directory

In [2]:
raw_data_dir = dir_+'2. data/'
processed_data_dir = dir_+'2. data/processed/'
log_dir = dir_+'4. logs/'
model_dir = dir_+'5. models/'

In [3]:
####################################################################################
################## 2-3. nonrecursive model by store & dept #########################
####################################################################################

In [4]:
cvs = ['private']

In [5]:
STORES = ['CA_1', 'CA_2', 'CA_3', 'CA_4', 'TX_1', 'TX_2', 'TX_3', 'WI_1', 'WI_2', 'WI_3']
DEPTS = ['HOBBIES_1', 'HOBBIES_2', 'HOUSEHOLD_1', 'HOUSEHOLD_2', 'FOODS_1', 'FOODS_2', 'FOODS_3']
CLUSTERS = [0,1,2,3,4,5,6,7,8,9]

In [6]:
from  datetime import datetime, timedelta
import gc
import numpy as np, pandas as pd
import lightgbm as lgb

import os, sys, gc, time, warnings, pickle, psutil, random

warnings.filterwarnings('ignore')

In [7]:
def reduce_mem_usage(df, verbose=False):
    numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']
    start_mem = df.memory_usage().sum() / 1024**2    
    for col in df.columns:
        col_type = df[col].dtypes
        if col_type in numerics:
            c_min = df[col].min()
            c_max = df[col].max()
            if str(col_type)[:3] == 'int':
                if c_min > np.iinfo(np.int8).min and c_max < np.iinfo(np.int8).max:
                    df[col] = df[col].astype(np.int8)
                elif c_min > np.iinfo(np.int16).min and c_max < np.iinfo(np.int16).max:
                       df[col] = df[col].astype(np.int16)
                elif c_min > np.iinfo(np.int32).min and c_max < np.iinfo(np.int32).max:
                    df[col] = df[col].astype(np.int32)
                elif c_min > np.iinfo(np.int64).min and c_max < np.iinfo(np.int64).max:
                    df[col] = df[col].astype(np.int64)  
            else:
                if c_min > np.finfo(np.float16).min and c_max < np.finfo(np.float16).max:
                    df[col] = df[col].astype(np.float16)
                elif c_min > np.finfo(np.float32).min and c_max < np.finfo(np.float32).max:
                    df[col] = df[col].astype(np.float32)
                else:
                    df[col] = df[col].astype(np.float64)    
    end_mem = df.memory_usage().sum() / 1024**2
    if verbose: print('Mem. usage decreased to {:5.2f} Mb ({:.1f}% reduction)'.format(end_mem, 100 * (start_mem - end_mem) / start_mem))
    return df

In [8]:
FIRST_DAY = 710
remove_feature = ['id',
                  'state_id',
                  'store_id',
                  'dept_id',
                  'cat_id',
                  'tskm_5', 'tskm_7', 'tskm_30', 'tskm_50',
                  'date','wm_yr_wk','d','sales']

cat_var = ['item_id', 'dept_id','store_id', 'cat_id', 'state_id'] + ["event_name_1", "event_name_2", "event_type_1", "event_type_2"]
cat_var = list(set(cat_var) - set(remove_feature))

In [9]:
grid2_colnm = ['sell_price', 'price_max', 'price_min', 'price_std',
               'price_mean', 'price_norm', 'price_nunique', 'item_nunique',
               'price_momentum', 'price_momentum_m', 'price_momentum_y']

grid3_colnm = ['event_name_1', 'event_type_1', 'event_name_2',
               'event_type_2', 'snap_CA', 'snap_TX', 'snap_WI', 'tm_d', 'tm_w', 'tm_m',
               'tm_y', 'tm_wm', 'tm_dw', 'tm_w_end']

lag_colnm = [ 'sales_lag_28', 'sales_lag_29', 'sales_lag_30',
             'sales_lag_31', 'sales_lag_32', 'sales_lag_33', 'sales_lag_34',
             'sales_lag_35', 'sales_lag_36', 'sales_lag_37', 'sales_lag_38',
             'sales_lag_39', 'sales_lag_40', 'sales_lag_41', 'sales_lag_42',
             
             'rolling_mean_7', 'rolling_std_7', 'rolling_mean_14', 'rolling_std_14',
             'rolling_mean_30', 'rolling_std_30', 'rolling_mean_60',
             'rolling_std_60', 'rolling_mean_180', 'rolling_std_180']

mean_enc_colnm = [
    
    'enc_item_id_store_id_mean', 'enc_item_id_store_id_std'

]

In [10]:
########################### Make grid
#################################################################################
def prepare_data(cluster):
    
    grid_1 = pd.read_pickle(processed_data_dir+"grid_part_1.pkl")
    grid_2 = pd.read_pickle(processed_data_dir+"grid_part_2.pkl")[grid2_colnm]
    grid_3 = pd.read_pickle(processed_data_dir+"grid_part_3.pkl")[grid3_colnm]

    grid_df = pd.concat([grid_1, grid_2, grid_3], axis=1)
    del grid_1, grid_2, grid_3; gc.collect()
    
    grid_df = grid_df[grid_df['tskm_10'] == cluster]
    grid_df = grid_df[grid_df['d'] >= FIRST_DAY]
    
    lag = pd.read_pickle(processed_data_dir+"lags_df_28.pkl")[lag_colnm]
    
    lag = lag[lag.index.isin(grid_df.index)]
    
    grid_df = pd.concat([grid_df,lag], axis=1)
    
    del lag; gc.collect()
    

    mean_enc = pd.read_pickle(processed_data_dir+"mean_encoding_df.pkl")[mean_enc_colnm]
    mean_enc = mean_enc[mean_enc.index.isin(grid_df.index)]
    
    grid_df = pd.concat([grid_df,mean_enc], axis=1)    
    del mean_enc; gc.collect()
    
    grid_df = reduce_mem_usage(grid_df)
    
    
    
    return grid_df

In [11]:
validation = {
    'cv1' : [1551, 1610],
    'cv2' : [1829,1857],
    'cv3' : [1857, 1885],
    'cv4' : [1885,1913],
    'public' : [1913, 1941],
    'private' : [1941, 1969]
}

### cv1 : 2015-04-28 ~ 2015-06-26

### cv2 : 2016-02-01 ~ 2016-02-28

### cv3 : 2016-02-29 ~ 2016-03-27

### cv4 : 2016-03-28 ~ 2016-04-24

In [12]:
########################### Model params
#################################################################################
lgb_params = {
                    'boosting_type': 'gbdt',
                    'objective': 'tweedie',
                    'tweedie_variance_power': 1.1,
                    'metric': 'rmse',
                    'subsample': 0.5,
                    'subsample_freq': 1,
                    'learning_rate': 0.015,
                    'num_leaves': 2**8-1,
                    'min_data_in_leaf': 2**8-1,
                    'feature_fraction': 0.5,
                    'max_bin': 100,
                    'n_estimators': 3000,
                    'boost_from_average': False,
                    'verbose': -1,
                    'seed' : 1995
                }

In [13]:
########################### Train Models
#################################################################################

rmsse_bycv = dict()

for cv in cvs:
    print('cv : day', validation[cv])

    pred_list = []
    for cluster in CLUSTERS:

        print('CLUSTER ', str(cluster), 'start')
        grid_df = prepare_data(cluster)

        model_var = grid_df.columns[~grid_df.columns.isin(remove_feature)]

        tr_mask = (grid_df['d'] <= validation[cv][0]) & (grid_df['d'] >= FIRST_DAY)
        vl_mask = (grid_df['d'] > validation[cv][0]) & (grid_df['d'] <= validation[cv][1])

        train_data = lgb.Dataset(grid_df[tr_mask][model_var], 
                                 label=grid_df[tr_mask]['sales'])

        valid_data = lgb.Dataset(grid_df[vl_mask][model_var], 
                                 label=grid_df[vl_mask]['sales'])

        m_lgb = lgb.train(lgb_params, train_data, valid_sets = [valid_data, train_data], verbose_eval=100) 
        model_name = model_dir+'non_recur_model_storedept_cluster10_'+str(cluster)+'.bin'
        pickle.dump(m_lgb, open(model_name, 'wb'))
            
        display(pd.DataFrame({'name':m_lgb.feature_name(),
                              'imp':m_lgb.feature_importance()}).sort_values('imp',ascending=False).head(25))
            
        del grid_df, train_data, valid_data, m_lgb, tr_mask, vl_mask; gc.collect

cv : day [1941, 1969]
CLUSTER  0 start
[100]	training's rmse: 0.807102	valid_0's rmse: 0.579144
[200]	training's rmse: 0.784379	valid_0's rmse: 0.573194
[300]	training's rmse: 0.775152	valid_0's rmse: 0.588379
[400]	training's rmse: 0.759892	valid_0's rmse: 0.602599
[500]	training's rmse: 0.749144	valid_0's rmse: 0.61075
[600]	training's rmse: 0.739452	valid_0's rmse: 0.615864
[700]	training's rmse: 0.732137	valid_0's rmse: 0.617847
[800]	training's rmse: 0.727122	valid_0's rmse: 0.619196
[900]	training's rmse: 0.722033	valid_0's rmse: 0.619196
[1000]	training's rmse: 0.717721	valid_0's rmse: 0.619457
[1100]	training's rmse: 0.714093	valid_0's rmse: 0.621703
[1200]	training's rmse: 0.710958	valid_0's rmse: 0.622202
[1300]	training's rmse: 0.707217	valid_0's rmse: 0.624139
[1400]	training's rmse: 0.704702	valid_0's rmse: 0.624303
[1500]	training's rmse: 0.702025	valid_0's rmse: 0.624209
[1600]	training's rmse: 0.699139	valid_0's rmse: 0.624656
[1700]	training's rmse: 0.696273	valid_0's rmse: 0.626437
[1800]	training's rmse: 0.693993	valid_0's rmse: 0.627068
[1900]	training's rmse: 0.691604	valid_0's rmse: 0.625838
[2000]	training's rmse: 0.689522	valid_0's rmse: 0.626287
[2100]	training's rmse: 0.687336	valid_0's rmse: 0.625179
[2200]	training's rmse: 0.685354	valid_0's rmse: 0.625499
[2300]	training's rmse: 0.683445	valid_0's rmse: 0.625882
[2400]	training's rmse: 0.682016	valid_0's rmse: 0.625027
[2500]	training's rmse: 0.680269	valid_0's rmse: 0.62575
[2600]	training's rmse: 0.678816	valid_0's rmse: 0.625012
[2700]	training's rmse: 0.67707	valid_0's rmse: 0.625497
[2800]	training's rmse: 0.675434	valid_0's rmse: 0.625576
[2900]	training's rmse: 0.67393	valid_0's rmse: 0.625534
[3000]	training's rmse: 0.672419	valid_0's rmse: 0.625663

                         name     imp
0                     item_id  135375
22                       tm_w   36581
51           rolling_mean_180   29724
14               event_name_1   28845
49            rolling_mean_60   26090
52            rolling_std_180   25637
12           price_momentum_m   23466
50             rolling_std_60   22574
47            rolling_mean_30   21633
48             rolling_std_30   21396
21                       tm_d   20435
46             rolling_std_14   19747
44              rolling_std_7   18984
53  enc_item_id_store_id_mean   18139
10               item_nunique   17767
54   enc_item_id_store_id_std   17097
45            rolling_mean_14   16914
23                       tm_m   15932
13           price_momentum_y   13633
43             rolling_mean_7   13124
6                   price_std   13113
26                      tm_dw   11569
3                  sell_price   11132
2                     release   11110
24                       tm_y   10671

CLUSTER  1 start
[100]	training's rmse: 3.2569	valid_0's rmse: 3.20828
[200]	training's rmse: 2.92024	valid_0's rmse: 4.14566
[300]	training's rmse: 2.81693	valid_0's rmse: 4.4233
[400]	training's rmse: 2.75268	valid_0's rmse: 4.53628
[500]	training's rmse: 2.70317	valid_0's rmse: 4.56869
[600]	training's rmse: 2.66897	valid_0's rmse: 4.57369
[700]	training's rmse: 2.63747	valid_0's rmse: 4.57361
[800]	training's rmse: 2.61026	valid_0's rmse: 4.56774
[900]	training's rmse: 2.58702	valid_0's rmse: 4.5744
[1000]	training's rmse: 2.5645	valid_0's rmse: 4.57641
[1100]	training's rmse: 2.54488	valid_0's rmse: 4.57303
[1200]	training's rmse: 2.52566	valid_0's rmse: 4.56667
[1300]	training's rmse: 2.50758	valid_0's rmse: 4.56004
[1400]	training's rmse: 2.49113	valid_0's rmse: 4.55531
[1500]	training's rmse: 2.47385	valid_0's rmse: 4.54737
[1600]	training's rmse: 2.45826	valid_0's rmse: 4.54134
[1700]	training's rmse: 2.44243	valid_0's rmse: 4.53614
[1800]	training's rmse: 2.4279	valid_0's rmse: 4.53541
[1900]	training's rmse: 2.41407	valid_0's rmse: 4.53502
[2000]	training's rmse: 2.40127	valid_0's rmse: 4.53375
[2100]	training's rmse: 2.38863	valid_0's rmse: 4.5235
[2200]	training's rmse: 2.37689	valid_0's rmse: 4.52298
[2300]	training's rmse: 2.36568	valid_0's rmse: 4.52163
[2400]	training's rmse: 2.35431	valid_0's rmse: 4.52167
[2500]	training's rmse: 2.34387	valid_0's rmse: 4.52132
[2600]	training's rmse: 2.33317	valid_0's rmse: 4.51674
[2700]	training's rmse: 2.32328	valid_0's rmse: 4.51319
[2800]	training's rmse: 2.31342	valid_0's rmse: 4.51616
[2900]	training's rmse: 2.30478	valid_0's rmse: 4.5166
[3000]	training's rmse: 2.29534	valid_0's rmse: 4.51582

                         name     imp
0                     item_id  144280
22                       tm_w   39104
14               event_name_1   25729
51           rolling_mean_180   25262
12           price_momentum_m   25016
52            rolling_std_180   24098
50             rolling_std_60   21939
49            rolling_mean_60   21934
13           price_momentum_y   21174
48             rolling_std_30   18874
10               item_nunique   18396
47            rolling_mean_30   17290
23                       tm_m   16747
44              rolling_std_7   16363
46             rolling_std_14   15929
21                       tm_d   15603
6                   price_std   14360
45            rolling_mean_14   14310
43             rolling_mean_7   13356
54   enc_item_id_store_id_std   13276
53  enc_item_id_store_id_mean   12941
8                  price_norm   12289
5                   price_min   11211
3                  sell_price   11201
24                       tm_y   10581

CLUSTER  2 start
[100]	training's rmse: 1.87442	valid_0's rmse: 1.69118
[200]	training's rmse: 1.79689	valid_0's rmse: 2.01455
[300]	training's rmse: 1.76739	valid_0's rmse: 2.12474
[400]	training's rmse: 1.74422	valid_0's rmse: 2.16659
[500]	training's rmse: 1.72574	valid_0's rmse: 2.1841
[600]	training's rmse: 1.71042	valid_0's rmse: 2.18961
[700]	training's rmse: 1.69615	valid_0's rmse: 2.19631
[800]	training's rmse: 1.68376	valid_0's rmse: 2.20067
[900]	training's rmse: 1.67224	valid_0's rmse: 2.20425
[1000]	training's rmse: 1.66136	valid_0's rmse: 2.20453
[1100]	training's rmse: 1.65032	valid_0's rmse: 2.2095
[1200]	training's rmse: 1.64052	valid_0's rmse: 2.21116
[1300]	training's rmse: 1.63087	valid_0's rmse: 2.21182
[1400]	training's rmse: 1.62128	valid_0's rmse: 2.21302
[1500]	training's rmse: 1.61203	valid_0's rmse: 2.21341
[1600]	training's rmse: 1.60313	valid_0's rmse: 2.21465
[1700]	training's rmse: 1.59493	valid_0's rmse: 2.21423
[1800]	training's rmse: 1.58687	valid_0's rmse: 2.21222
[1900]	training's rmse: 1.579	valid_0's rmse: 2.21238
[2000]	training's rmse: 1.57149	valid_0's rmse: 2.21321
[2100]	training's rmse: 1.56444	valid_0's rmse: 2.21581
[2200]	training's rmse: 1.55748	valid_0's rmse: 2.21784
[2300]	training's rmse: 1.55117	valid_0's rmse: 2.21778
[2400]	training's rmse: 1.5446	valid_0's rmse: 2.2153
[2500]	training's rmse: 1.53834	valid_0's rmse: 2.21614
[2600]	training's rmse: 1.53233	valid_0's rmse: 2.2146
[2700]	training's rmse: 1.52638	valid_0's rmse: 2.2161
[2800]	training's rmse: 1.5208	valid_0's rmse: 2.21646
[2900]	training's rmse: 1.51523	valid_0's rmse: 2.21579
[3000]	training's rmse: 1.50966	valid_0's rmse: 2.21558

                         name     imp
0                     item_id  137194
22                       tm_w   33572
14               event_name_1   30205
12           price_momentum_m   25700
51           rolling_mean_180   25653
52            rolling_std_180   22911
49            rolling_mean_60   20710
50             rolling_std_60   20221
44              rolling_std_7   18743
48             rolling_std_30   17874
47            rolling_mean_30   17417
21                       tm_d   16666
46             rolling_std_14   16371
45            rolling_mean_14   16319
10               item_nunique   16240
13           price_momentum_y   15803
43             rolling_mean_7   15511
23                       tm_m   14499
53  enc_item_id_store_id_mean   13013
54   enc_item_id_store_id_std   12791
6                   price_std   12024
28               sales_lag_28   11290
3                  sell_price   10829
42               sales_lag_42   10796
36               sales_lag_36   10718

CLUSTER  3 start
[100]	training's rmse: 6.31548	valid_0's rmse: 5.61141
[200]	training's rmse: 5.29488	valid_0's rmse: 7.32916
[300]	training's rmse: 4.92838	valid_0's rmse: 7.69882
[400]	training's rmse: 4.70959	valid_0's rmse: 7.7773
[500]	training's rmse: 4.54146	valid_0's rmse: 7.77737
[600]	training's rmse: 4.40835	valid_0's rmse: 7.74631
[700]	training's rmse: 4.29986	valid_0's rmse: 7.72517
[800]	training's rmse: 4.2029	valid_0's rmse: 7.70386
[900]	training's rmse: 4.11597	valid_0's rmse: 7.69713
[1000]	training's rmse: 4.04085	valid_0's rmse: 7.70564
[1100]	training's rmse: 3.97236	valid_0's rmse: 7.69535
[1200]	training's rmse: 3.90299	valid_0's rmse: 7.68581
[1300]	training's rmse: 3.83699	valid_0's rmse: 7.67544
[1400]	training's rmse: 3.77891	valid_0's rmse: 7.67443
[1500]	training's rmse: 3.72247	valid_0's rmse: 7.67168
[1600]	training's rmse: 3.67155	valid_0's rmse: 7.66254
[1700]	training's rmse: 3.62309	valid_0's rmse: 7.66603
[1800]	training's rmse: 3.58049	valid_0's rmse: 7.64789
[1900]	training's rmse: 3.53509	valid_0's rmse: 7.64868
[2000]	training's rmse: 3.49359	valid_0's rmse: 7.65251
[2100]	training's rmse: 3.4557	valid_0's rmse: 7.64797
[2200]	training's rmse: 3.42085	valid_0's rmse: 7.64336
[2300]	training's rmse: 3.38534	valid_0's rmse: 7.63548
[2400]	training's rmse: 3.35376	valid_0's rmse: 7.63609
[2500]	training's rmse: 3.32155	valid_0's rmse: 7.62999
[2600]	training's rmse: 3.2901	valid_0's rmse: 7.62927
[2700]	training's rmse: 3.26224	valid_0's rmse: 7.62766
[2800]	training's rmse: 3.23505	valid_0's rmse: 7.60833
[2900]	training's rmse: 3.21013	valid_0's rmse: 7.59903
[3000]	training's rmse: 3.1823	valid_0's rmse: 7.60156

                name     imp
0            item_id  120709
22              tm_w   35001
52   rolling_std_180   24448
50    rolling_std_60   23878
51  rolling_mean_180   23822
14      event_name_1   22253
48    rolling_std_30   21180
49   rolling_mean_60   20797
12  price_momentum_m   19804
21              tm_d   19734
46    rolling_std_14   18596
44     rolling_std_7   18582
47   rolling_mean_30   17730
13  price_momentum_y   16998
45   rolling_mean_14   14833
43    rolling_mean_7   14555
23              tm_m   14065
28      sales_lag_28   13874
41      sales_lag_41   13718
35      sales_lag_35   13499
42      sales_lag_42   13436
29      sales_lag_29   13016
38      sales_lag_38   13011
39      sales_lag_39   12998
36      sales_lag_36   12979

CLUSTER  4 start
[100]	training's rmse: 1.78062	valid_0's rmse: 1.67849
[200]	training's rmse: 1.67692	valid_0's rmse: 1.98862
[300]	training's rmse: 1.63774	valid_0's rmse: 2.08763
[400]	training's rmse: 1.60894	valid_0's rmse: 2.13172
[500]	training's rmse: 1.58814	valid_0's rmse: 2.15181
[600]	training's rmse: 1.57242	valid_0's rmse: 2.16331
[700]	training's rmse: 1.55908	valid_0's rmse: 2.16925
[800]	training's rmse: 1.54775	valid_0's rmse: 2.1719
[900]	training's rmse: 1.53759	valid_0's rmse: 2.17009
[1000]	training's rmse: 1.52793	valid_0's rmse: 2.17216
[1100]	training's rmse: 1.51876	valid_0's rmse: 2.1737
[1200]	training's rmse: 1.51055	valid_0's rmse: 2.17564
[1300]	training's rmse: 1.50268	valid_0's rmse: 2.17631
[1400]	training's rmse: 1.49469	valid_0's rmse: 2.17773
[1500]	training's rmse: 1.48706	valid_0's rmse: 2.1776
[1600]	training's rmse: 1.48018	valid_0's rmse: 2.17797
[1700]	training's rmse: 1.4734	valid_0's rmse: 2.17792
[1800]	training's rmse: 1.46702	valid_0's rmse: 2.17413
[1900]	training's rmse: 1.46088	valid_0's rmse: 2.17256
[2000]	training's rmse: 1.45516	valid_0's rmse: 2.17312
[2100]	training's rmse: 1.44908	valid_0's rmse: 2.17371
[2200]	training's rmse: 1.44365	valid_0's rmse: 2.17402
[2300]	training's rmse: 1.43806	valid_0's rmse: 2.17335
[2400]	training's rmse: 1.4328	valid_0's rmse: 2.1743
[2500]	training's rmse: 1.4276	valid_0's rmse: 2.17409
[2600]	training's rmse: 1.42244	valid_0's rmse: 2.17553
[2700]	training's rmse: 1.41771	valid_0's rmse: 2.1757
[2800]	training's rmse: 1.41315	valid_0's rmse: 2.17486
[2900]	training's rmse: 1.40831	valid_0's rmse: 2.17371
[3000]	training's rmse: 1.4036	valid_0's rmse: 2.17371

                         name     imp
0                     item_id  116326
22                       tm_w   39281
12           price_momentum_m   30405
51           rolling_mean_180   29279
52            rolling_std_180   27214
50             rolling_std_60   24359
49            rolling_mean_60   23905
10               item_nunique   21799
13           price_momentum_y   21221
48             rolling_std_30   21023
21                       tm_d   19641
14               event_name_1   19595
46             rolling_std_14   19199
44              rolling_std_7   18487
47            rolling_mean_30   18486
6                   price_std   16798
23                       tm_m   16756
53  enc_item_id_store_id_mean   15697
8                  price_norm   15289
45            rolling_mean_14   14772
54   enc_item_id_store_id_std   14695
3                  sell_price   12714
43             rolling_mean_7   12693
5                   price_min   12186
7                  price_mean   11201

CLUSTER  5 start
[100]	training's rmse: 4.24519	valid_0's rmse: 4.06684
[200]	training's rmse: 3.6522	valid_0's rmse: 5.3249
[300]	training's rmse: 3.46958	valid_0's rmse: 5.67141
[400]	training's rmse: 3.37131	valid_0's rmse: 5.7791
[500]	training's rmse: 3.30017	valid_0's rmse: 5.80657
[600]	training's rmse: 3.24314	valid_0's rmse: 5.81609
[700]	training's rmse: 3.19474	valid_0's rmse: 5.80507
[800]	training's rmse: 3.15347	valid_0's rmse: 5.80836
[900]	training's rmse: 3.11597	valid_0's rmse: 5.82885
[1000]	training's rmse: 3.08452	valid_0's rmse: 5.8298
[1100]	training's rmse: 3.05568	valid_0's rmse: 5.82658
[1200]	training's rmse: 3.02669	valid_0's rmse: 5.82239
[1300]	training's rmse: 2.99994	valid_0's rmse: 5.81812
[1400]	training's rmse: 2.97294	valid_0's rmse: 5.8044
[1500]	training's rmse: 2.94948	valid_0's rmse: 5.79892
[1600]	training's rmse: 2.92803	valid_0's rmse: 5.78806
[1700]	training's rmse: 2.9073	valid_0's rmse: 5.78724
[1800]	training's rmse: 2.88621	valid_0's rmse: 5.77789
[1900]	training's rmse: 2.86711	valid_0's rmse: 5.77721
[2000]	training's rmse: 2.84865	valid_0's rmse: 5.77064
[2100]	training's rmse: 2.83097	valid_0's rmse: 5.76981
[2200]	training's rmse: 2.81308	valid_0's rmse: 5.76463
[2300]	training's rmse: 2.79654	valid_0's rmse: 5.76123
[2400]	training's rmse: 2.78001	valid_0's rmse: 5.75558
[2500]	training's rmse: 2.7633	valid_0's rmse: 5.7419
[2600]	training's rmse: 2.74785	valid_0's rmse: 5.73769
[2700]	training's rmse: 2.73392	valid_0's rmse: 5.7245
[2800]	training's rmse: 2.71932	valid_0's rmse: 5.71637
[2900]	training's rmse: 2.70524	valid_0's rmse: 5.71569
[3000]	training's rmse: 2.69136	valid_0's rmse: 5.71523

                         name     imp
0                     item_id  120298
22                       tm_w   41817
51           rolling_mean_180   26359
52            rolling_std_180   25045
12           price_momentum_m   23510
49            rolling_mean_60   23040
50             rolling_std_60   22323
14               event_name_1   20688
48             rolling_std_30   19056
10               item_nunique   18592
23                       tm_m   18205
47            rolling_mean_30   17180
13           price_momentum_y   16888
44              rolling_std_7   16878
21                       tm_d   16262
46             rolling_std_14   15974
43             rolling_mean_7   14378
6                   price_std   14222
53  enc_item_id_store_id_mean   14070
54   enc_item_id_store_id_std   13940
45            rolling_mean_14   13925
28               sales_lag_28   11367
8                  price_norm   11342
24                       tm_y   11294
42               sales_lag_42   11224

CLUSTER  6 start
[100]	training's rmse: 4.26804	valid_0's rmse: 3.80872
[200]	training's rmse: 3.88981	valid_0's rmse: 4.81672
[300]	training's rmse: 3.7493	valid_0's rmse: 5.07536
[400]	training's rmse: 3.6338	valid_0's rmse: 5.13989
[500]	training's rmse: 3.54258	valid_0's rmse: 5.13691
[600]	training's rmse: 3.46741	valid_0's rmse: 5.14241
[700]	training's rmse: 3.39874	valid_0's rmse: 5.14096
[800]	training's rmse: 3.33948	valid_0's rmse: 5.13835
[900]	training's rmse: 3.28294	valid_0's rmse: 5.12717
[1000]	training's rmse: 3.23185	valid_0's rmse: 5.12413
[1100]	training's rmse: 3.18296	valid_0's rmse: 5.11398
[1200]	training's rmse: 3.13923	valid_0's rmse: 5.11162
[1300]	training's rmse: 3.09798	valid_0's rmse: 5.10405
[1400]	training's rmse: 3.05786	valid_0's rmse: 5.10206
[1500]	training's rmse: 3.01969	valid_0's rmse: 5.09384
[1600]	training's rmse: 2.98382	valid_0's rmse: 5.09889
[1700]	training's rmse: 2.95063	valid_0's rmse: 5.09201
[1800]	training's rmse: 2.91918	valid_0's rmse: 5.08787
[1900]	training's rmse: 2.88845	valid_0's rmse: 5.08764
[2000]	training's rmse: 2.85876	valid_0's rmse: 5.08611
[2100]	training's rmse: 2.83111	valid_0's rmse: 5.08453
[2200]	training's rmse: 2.80307	valid_0's rmse: 5.07666
[2300]	training's rmse: 2.77595	valid_0's rmse: 5.07097
[2400]	training's rmse: 2.75098	valid_0's rmse: 5.07027
[2500]	training's rmse: 2.72551	valid_0's rmse: 5.06643
[2600]	training's rmse: 2.70277	valid_0's rmse: 5.05874
[2700]	training's rmse: 2.6809	valid_0's rmse: 5.05288
[2800]	training's rmse: 2.65924	valid_0's rmse: 5.05232
[2900]	training's rmse: 2.63865	valid_0's rmse: 5.04866
[3000]	training's rmse: 2.61708	valid_0's rmse: 5.04623

                name     imp
0            item_id  124984
22              tm_w   33709
14      event_name_1   24700
51  rolling_mean_180   24624
49   rolling_mean_60   22662
52   rolling_std_180   21346
12  price_momentum_m   20857
50    rolling_std_60   20363
48    rolling_std_30   18018
47   rolling_mean_30   17730
44     rolling_std_7   16981
21              tm_d   15959
46    rolling_std_14   15952
45   rolling_mean_14   15068
43    rolling_mean_7   14958
35      sales_lag_35   14321
42      sales_lag_42   14300
28      sales_lag_28   14127
29      sales_lag_29   14095
13  price_momentum_y   14004
23              tm_m   13960
41      sales_lag_41   13932
38      sales_lag_38   13601
36      sales_lag_36   13400
40      sales_lag_40   13360

CLUSTER  7 start
[100]	training's rmse: 1.51307	valid_0's rmse: 1.15927
[200]	training's rmse: 1.47875	valid_0's rmse: 1.31244
[300]	training's rmse: 1.46862	valid_0's rmse: 1.36527
[400]	training's rmse: 1.46017	valid_0's rmse: 1.39079
[500]	training's rmse: 1.45237	valid_0's rmse: 1.40307
[600]	training's rmse: 1.44542	valid_0's rmse: 1.40972
[700]	training's rmse: 1.43905	valid_0's rmse: 1.4128
[800]	training's rmse: 1.43287	valid_0's rmse: 1.41712
[900]	training's rmse: 1.42668	valid_0's rmse: 1.42168
[1000]	training's rmse: 1.42094	valid_0's rmse: 1.42182
[1100]	training's rmse: 1.41513	valid_0's rmse: 1.42418
[1200]	training's rmse: 1.40969	valid_0's rmse: 1.42736
[1300]	training's rmse: 1.40443	valid_0's rmse: 1.42716
[1400]	training's rmse: 1.39898	valid_0's rmse: 1.42811
[1500]	training's rmse: 1.39366	valid_0's rmse: 1.42834
[1600]	training's rmse: 1.38855	valid_0's rmse: 1.42756
[1700]	training's rmse: 1.38358	valid_0's rmse: 1.42701
[1800]	training's rmse: 1.37877	valid_0's rmse: 1.427
[1900]	training's rmse: 1.37378	valid_0's rmse: 1.42853
[2000]	training's rmse: 1.36885	valid_0's rmse: 1.42912
[2100]	training's rmse: 1.36384	valid_0's rmse: 1.42951
[2200]	training's rmse: 1.3592	valid_0's rmse: 1.43036
[2300]	training's rmse: 1.35476	valid_0's rmse: 1.43031
[2400]	training's rmse: 1.35008	valid_0's rmse: 1.43009
[2500]	training's rmse: 1.34568	valid_0's rmse: 1.42973
[2600]	training's rmse: 1.34135	valid_0's rmse: 1.42974
[2700]	training's rmse: 1.33731	valid_0's rmse: 1.4295
[2800]	training's rmse: 1.33314	valid_0's rmse: 1.42866
[2900]	training's rmse: 1.32914	valid_0's rmse: 1.42884
[3000]	training's rmse: 1.32487	valid_0's rmse: 1.42844

                         name     imp
0                     item_id  147205
22                       tm_w   28966
14               event_name_1   27250
51           rolling_mean_180   23159
12           price_momentum_m   22093
44              rolling_std_7   20313
49            rolling_mean_60   19302
52            rolling_std_180   19068
47            rolling_mean_30   18644
45            rolling_mean_14   18640
50             rolling_std_60   17065
46             rolling_std_14   16973
21                       tm_d   16877
43             rolling_mean_7   16692
48             rolling_std_30   16287
53  enc_item_id_store_id_mean   13612
13           price_momentum_y   13596
54   enc_item_id_store_id_std   13038
23                       tm_m   12550
28               sales_lag_28   12478
35               sales_lag_35   12301
41               sales_lag_41   12035
42               sales_lag_42   12008
38               sales_lag_38   11941
29               sales_lag_29   11827

CLUSTER  8 start
[100]	training's rmse: 3.32603	valid_0's rmse: 4.13598
[200]	training's rmse: 2.96067	valid_0's rmse: 5.56603
[300]	training's rmse: 2.7964	valid_0's rmse: 5.91232
[400]	training's rmse: 2.67451	valid_0's rmse: 6.037
[500]	training's rmse: 2.5843	valid_0's rmse: 6.05408
[600]	training's rmse: 2.51008	valid_0's rmse: 6.09643
[700]	training's rmse: 2.44115	valid_0's rmse: 6.09874
[800]	training's rmse: 2.38054	valid_0's rmse: 6.11908
[900]	training's rmse: 2.32509	valid_0's rmse: 6.10445
[1000]	training's rmse: 2.27891	valid_0's rmse: 6.10281
[1100]	training's rmse: 2.23626	valid_0's rmse: 6.10041
[1200]	training's rmse: 2.19525	valid_0's rmse: 6.11552
[1300]	training's rmse: 2.15639	valid_0's rmse: 6.14557
[1400]	training's rmse: 2.12278	valid_0's rmse: 6.14355
[1500]	training's rmse: 2.09104	valid_0's rmse: 6.15094
[1600]	training's rmse: 2.06256	valid_0's rmse: 6.13919
[1700]	training's rmse: 2.03523	valid_0's rmse: 6.13322
[1800]	training's rmse: 2.00791	valid_0's rmse: 6.1485
[1900]	training's rmse: 1.98276	valid_0's rmse: 6.12142
[2000]	training's rmse: 1.95866	valid_0's rmse: 6.12334
[2100]	training's rmse: 1.93517	valid_0's rmse: 6.10138
[2200]	training's rmse: 1.91217	valid_0's rmse: 6.09112
[2300]	training's rmse: 1.89112	valid_0's rmse: 6.09007
[2400]	training's rmse: 1.87181	valid_0's rmse: 6.09093
[2500]	training's rmse: 1.8528	valid_0's rmse: 6.08775
[2600]	training's rmse: 1.83476	valid_0's rmse: 6.09524
[2700]	training's rmse: 1.81704	valid_0's rmse: 6.1106
[2800]	training's rmse: 1.79964	valid_0's rmse: 6.09441
[2900]	training's rmse: 1.7838	valid_0's rmse: 6.09213
[3000]	training's rmse: 1.76858	valid_0's rmse: 6.08133

                name     imp
0            item_id  116271
22              tm_w   35785
51  rolling_mean_180   30164
52   rolling_std_180   26122
12  price_momentum_m   25233
50    rolling_std_60   24772
49   rolling_mean_60   24467
21              tm_d   22092
48    rolling_std_30   21610
44     rolling_std_7   21252
46    rolling_std_14   20037
47   rolling_mean_30   18940
13  price_momentum_y   16296
45   rolling_mean_14   15842
14      event_name_1   15584
43    rolling_mean_7   15154
23              tm_m   14604
10      item_nunique   13609
26             tm_dw   12036
28      sales_lag_28   11678
29      sales_lag_29   11476
30      sales_lag_30   11213
41      sales_lag_41   11178
6          price_std   11109
35      sales_lag_35   11054

CLUSTER  9 start
[100]	training's rmse: 2.33684	valid_0's rmse: 2.1063
[200]	training's rmse: 2.21227	valid_0's rmse: 2.56285
[300]	training's rmse: 2.17671	valid_0's rmse: 2.69316
[400]	training's rmse: 2.15034	valid_0's rmse: 2.74227
[500]	training's rmse: 2.12728	valid_0's rmse: 2.76566
[600]	training's rmse: 2.10746	valid_0's rmse: 2.77764
[700]	training's rmse: 2.08891	valid_0's rmse: 2.78667
[800]	training's rmse: 2.07199	valid_0's rmse: 2.78894
[900]	training's rmse: 2.05774	valid_0's rmse: 2.79217
[1000]	training's rmse: 2.04437	valid_0's rmse: 2.79557
[1100]	training's rmse: 2.03105	valid_0's rmse: 2.79879
[1200]	training's rmse: 2.01808	valid_0's rmse: 2.80061
[1300]	training's rmse: 2.00601	valid_0's rmse: 2.80075
[1400]	training's rmse: 1.99529	valid_0's rmse: 2.80294
[1500]	training's rmse: 1.98557	valid_0's rmse: 2.80557
[1600]	training's rmse: 1.97642	valid_0's rmse: 2.80473
[1700]	training's rmse: 1.9677	valid_0's rmse: 2.80398
[1800]	training's rmse: 1.95905	valid_0's rmse: 2.80561
[1900]	training's rmse: 1.95005	valid_0's rmse: 2.80633
[2000]	training's rmse: 1.94252	valid_0's rmse: 2.80579
[2100]	training's rmse: 1.93477	valid_0's rmse: 2.80706
[2200]	training's rmse: 1.92802	valid_0's rmse: 2.80836
[2300]	training's rmse: 1.92152	valid_0's rmse: 2.80953
[2400]	training's rmse: 1.91493	valid_0's rmse: 2.80771
[2500]	training's rmse: 1.90874	valid_0's rmse: 2.80512
[2600]	training's rmse: 1.9033	valid_0's rmse: 2.8042
[2700]	training's rmse: 1.89792	valid_0's rmse: 2.80532
[2800]	training's rmse: 1.89209	valid_0's rmse: 2.80587
[2900]	training's rmse: 1.88716	valid_0's rmse: 2.80613
[3000]	training's rmse: 1.88129	valid_0's rmse: 2.80514

                         name     imp
0                     item_id  159730
22                       tm_w   38517
14               event_name_1   27852
12           price_momentum_m   25064
51           rolling_mean_180   24143
52            rolling_std_180   21125
49            rolling_mean_60   20487
50             rolling_std_60   18510
10               item_nunique   17851
23                       tm_m   16943
48             rolling_std_30   16380
47            rolling_mean_30   16097
13           price_momentum_y   15731
44              rolling_std_7   15354
43             rolling_mean_7   14793
45            rolling_mean_14   14791
21                       tm_d   14671
53  enc_item_id_store_id_mean   13629
46             rolling_std_14   13615
54   enc_item_id_store_id_std   13418
6                   price_std   13324
3                  sell_price   11701
8                  price_norm   11354
24                       tm_y   10917
28               sales_lag_28   10272